<div data-translate-catalog="pomoboard/preference">
    <div class="container-fluid">
        <div class="page-header">
            <h1>
                <i class="fa fa-sliders"></i>
                Pr&eacute;f&eacute;rence
            </h1>
        </div>
    </div>
    <div class="container-fluid">
        <form class="form-horizontal">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="col-xs-3 control-label"><span class="col-md-10">Pomodoro</span></label>
                        <?merge preference.pomodoro.bool() @checked?>
                        <input type="checkbox" name="pomodoro" id="pomodoro" data-toggle="toggle"> 
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label"><span class="col-md-10">M&eacute;t&eacute;o</span></label>
                        <?merge preference.weather.bool() @checked?>
                        <input type="checkbox" name="weather" id="weather" data-toggle="toggle"> 
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label"><span class="col-md-10">Calculatrice</span></label>
                        <?merge preference.calculator.bool() @checked?>
                        <input type="checkbox" name="calculator" id="calculator" data-toggle="toggle"> 
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label"><span class="col-md-10">Calendrier</span></label>
                        <?merge preference.calendar.bool() @checked?>
                        <input type="checkbox" name="calendar" id="calendar" data-toggle="toggle"> 
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label"><span class="col-md-10">Horloge</span></label>
                        <?merge preference.clock.bool() @checked?>
                        <input type="checkbox" name="clock" id="clock" data-toggle="toggle"> 
                    </div>
                </div>
            </div>
            <div class="panel-footer clearfix">
                <div class="pull-right">
                    <button type="button" id="submit" class="btn btn-success"><i class="fa fa-save">&nbsp;</i>Sauvegarder</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
//submit
$(document).on('click', '#submit', function(){

    var preference = new Object();
    preference.pomodoro = $("#pomodoro").prop("checked");
    preference.weather = $("#weather").prop("checked");
    preference.calculator = $("#calculator").prop("checked");;
    preference.calendar = $("#calendar").prop("checked");
    preference.clock = $("#clock").prop("checked");

    $.ajax({
        url         : "preference",
        type        : "PUT",
        data        : JSON.stringify(preference),
        contentType : 'application/json',
        dataType    : 'json',
        success  : function(response){
            requestResult(response.message, response.status);
            if(response.status) {
                window.location.href = '/widget';
            }
        },
        error    : function(response) {
            requestResult(response.responseText, false);
        }
    })
})

function requestResult(message, status) {
    var class_name = "gritter-danger";
    if (status) {
        class_name = "gritter-primary";
    }
    $.gritter.add({
        text: message,
        class_name: class_name
    });
    $('.btn').removeProp('disabled');
}

</script>