<div class="container-fluid" lang="en" data-translate-catalog="user/messages">
    <div class="page-header">
        <h1>
            <i class="fa fa-user">&nbsp;</i>Edit profile<small> <?merge user.displayName ?></small></h1>
    </div>
</div>
<?merge user ?>
<div class="container-fluid dataForm" data-form-ns="contact" lang="en" data-translate-catalog="user/messages"> 
    <div class="row">
        <div class="col-xs-12 dataForm" data-form-ns="user">
            <!-- User information form -->
            <?hinclude user/view/userManagement/userInformationForm.html ?>
        </div>
    </div>
</div>