<form class="well form-horizontal">
    <div class="row">
        <!--div class="col-md-3 col-sm-12">
            <div class="col-md-10 col-xm-4 col-md-offset-3">
                <a href='#'>
                    <button type="button" id="resetImage" class="close">&times;</button>
                    <img id="picture" class="img-rounded col-md-12" src="[?merge user.picture.ifeq('').then('/public/bundle/contact/img/contact.png',user.picture) ?]" alt="">
                </a>
            </div>
            <input type="hidden" id="userId" class="form-control" name="userId"/>
            <input type="file" accept="image/x-png, image/jpeg" class="form-control hide" name="picture" data-base64="[?merge user.picture ?]">
        </div-->
        <div class="col-md-9">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="userName" class="col-md-2 control-label">User name</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="userName" name="userName" placeholder="User name">
                    </div>
                </div>
                <?merge user.userId.bool().not() ?>
                <div class="form-group">
                    <label for="password" class="col-md-2 control-label">Password</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="password" name="password" placeholder="Password">
                    </div>
                </div>
                <?merge user.userId.bool().not() ?>
                <div class="form-group">
                    <label for="verification" class="col-md-2 control-label">Password verification</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="verification" name="verification" placeholder="Password verification">
                    </div>
                </div>
                <div class="form-group">
                    <label for="emailAddress" class="col-md-2 control-label">E-mail</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="emailAddress" name="emailAddress" placeholder="E-mail address">
                    </div>
                </div>
                <hr/>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="lastName" class="col-md-3 control-label">Last name</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="firstName" class="col-md-3 control-label">First name</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="displayName" class="col-md-3 control-label">Display name</label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <input type="text" class="form-control" id="displayName" name="displayName" placeholder="Display name">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">&nbsp; <span class="caret"></span></button>
                                <ul id="displayNameList" class="dropdown-menu dropdown-menu-right" role="menu">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthName" class="col-md-3 control-label">Birth name</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="birthName" name="birthName" placeholder="Birth name">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label">Title</label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <input type="text" class="form-control" name="title" placeholder="Title">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">&nbsp; <span class="caret"></span></button>
                                <ul id="titleNameList" class="dropdown-menu dropdown-menu-right" role="menu">
                                    <li><a href="#" class="titleSelection">Mme.</a></li>
                                    <li><a href="#" class="titleSelection">Mlle.</a></li>
                                    <li><a href="#" class="titleSelection">M.</a></li>
                                    <li><a href="#" class="titleSelection">M. et Mme.</a></li>
                                    <li><a href="#" class="titleSelection">M. ou Mme.</a></li>
                                    <li><a href="#" class="titleSelection">Dr</a></li>
                                    <li><a href="#" class="titleSelection">Me</a></li>
                                    <li><a href="#" class="titleSelection">Pr</a></li>
                                    <li><a href="#" class="titleSelection">Dir</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                        <label for="gender" class="col-md-3 control-label">Gender</label>
                        <div class="col-md-9">
                            <select class="form-control" id="gender" name="gender">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                        </div>
                </div>
                <div class="form-group">
                    <label for="dateOfBirth" class="col-md-3 control-label">Date of birth</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="dateOfBirth" name="dateOfBirth" value="[?merge user.dateOfBirth ?]" placeholder="Date of birth">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-right">
            <button type="button" class="btn btn-warning" onclick="window.history.back()"><i class="fa fa-undo">&nbsp;</i>Cancel</button>
            <?merge user.userId.bool().then("update", "create") @data-action ?>
            <button type="button" class="btn btn-success" data-userid="[?merge user.userId ?]" data-action="update"><i class="fa fa-save">&nbsp;</i>Save</button>
        </div>
    </div>

</form>

<script src="/public/dependency/html/js/datePicker/bootstrap-datepicker.js"></script>
<script src="/public/dependency/html/js/datePicker/locales/bootstrap-datepicker.fr.js"></script>
<script>

$(document).ready(function() {
    $(".dataForm").dataForm();
    $("#dateOfBirth").datepicker({
        format: "yyyy-mm-dd",
        weekStart: 1,
        language: "fr",
        autoclose: true,
        todayHighlight: true,
    });
    displayNameProposition(false);
});

//create
$(document).on('click', '[data-action="create"]', function() {
    $('.btn').prop('disabled', true);

    var $this   = $(this);
    var data    = $this.closest('.dataForm').data().dataForm.serialize();
    data.user.picture = $('[name="picture"]').data('base64');

    $.ajax({
        async       : false,
        url         : "/user/add",
        type        : "POST",
        data        : JSON.stringify(data['user']),
        contentType : 'application/json',
        dataType    : 'json',
        success  : function(response){
            requestResult(response.message, response.status);
            if(response.status) {
                window.location = "/user/list";
            }
        },
        error    : function(response) {
            requestResult(response.responseText, false);
        }
    })
});

//update
$(document).on('click', '[data-action="update"]', function() {
    $('.btn').prop('disabled', true);

    var $this   = $(this);
    var data    = $this.closest('.dataForm').data().dataForm.serialize();
    var userId = $this.attr("data-userid");
    data.user.picture = $('[name="picture"]').data('base64');
    console.log(data);

    if (userId.length > 0) {
        $.ajax({
            async       : false,
            url         : "/user/update",
            type        : "PUT",
            data        : JSON.stringify(data['user']),
            contentType : 'application/json',
            dataType    : 'json',
            success  : function(response){
                requestResult(response.message, response.status);
                if(response.status) {
                    window.location = "/user/list";
                }
            },
            error    : function(response) {
                requestResult(response.responseText, false);
            }
        })
    }
});

//resetPassword
$(document).on('click', '.resetPassword', function() {
    var userId = $(this).data("userid");
    $.ajax({
        async       : false,
        url         : "/user/requirePasswordChange/" + userId,
        type        : "PUT",
        contentType : 'application/json',
        dataType    : 'json',
        success  : function(response){
            requestResult(response.message, response.status);
        },
        error    : function(response) {
            requestResult(response.responseText, false);
        }
    });
});

//title
$(document).on('click', ".titleSelection", function(){
    $('[name="title"]').val($(this).html());
});

//displayName
$(document).on('change', '#firstName, #lastName, #orgUnitName', function() {
    displayNameProposition(true);
});

$(document).on('click', '#displayNameList a', function() {
    $("#displayName").val($(this).html());
})

//Contact picture
$(document).on('click', '#picture', function() {
    $('[name="picture"]').click();
});

$(document).on('change', '[name="picture"]', function() {
    oFile = $(this).context.files[0];
    oFileReader = new FileReader();
    oFileReader.readAsDataURL(oFile);
    oFileReader.onload = function() {
        if(oFileReader.result.substr(0, 10) != 'data:image') {
            requestResult("Selected file is not a valid image file", false);
        } else if(oFile.size > 100 * 1024) {
            requestResult("The image is too large.", false);
        } else {
            $('#picture').attr('src', oFileReader.result);
            $('[name="picture"]').data('base64', oFileReader.result);
        }
    }
});

$(document).on('click','#resetImage', function(){
    $('#picture').attr('src', '/public/bundle/contact/img/contact.png');
    $('input[name="picture"]').data('base64', "");
    if($("#objectClass").val()=='contact/contactParty' || $("#objectClass").val()==''){
    }
});

function displayNameProposition(changeValue) 
{
    var firstName = $("#firstName").val();
    var lastName = $("#lastName").val();

    var list="";
    var defaultName="";

    if(firstName == "" && lastName ==""){
    }
    else if(firstName != "" && lastName != ""){
        list += '<li><a href="#" class="nameSelection">'+firstName+' '+lastName+'</a></li>';
        list += '<li><a href="#" class="nameSelection">'+lastName+' '+firstName+'</a></li>';
        defaultName = firstName+' '+lastName;
    }
    else{
        list += '<li><a href="#">'+firstName+lastName+'</a></li>';
        defaultName = firstName+lastName;
    }
    $("#displayNameList").html(list);
    if(changeValue) {
        $("#displayName").val(defaultName);
    }
}

function requestResult(message, status) {
    var class_name = "gritter-danger";
    if (status) {
        class_name = "gritter-primary";
    }
    $.gritter.add({
        text: message,
        class_name: class_name
    });
    $('.btn').removeProp('disabled');
}

</script>