<div class="container-fluid" lang="en" data-translate-catalog="user/messages">
    <div class="page-header">
        <h1>
            <i class="fa fa-key">&nbsp;</i>Change password <small><?merge userName ?></small></h1>
    </div>
</div>

<div class="container-fluid dataForm" data-form-ns="contact" lang="en" data-translate-catalog="user/messages"> 
    <div class="row">
        <div class="col-xs-6">
            <form class="well form-horizontal">
                <input type="hidden" id="userName" name="userName" value="[?merge userName ?]">
                <div class="form-group">
                    <label class="col-md-4 control-label">Old password</label>
                    <div class="col-md-8">
                        <input type="password" class="form-control" id="oldPassword" name="oldPassword" placeholder="Old password">
                    </div>
                </div>
                <div class="form-group newPassword">
                    <label class="col-md-4 control-label">New password</label>
                    <div class="col-md-8">
                        <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="New password">
                    </div>
                </div>
                <div class="form-group newPassword">
                    <label class="col-md-4 control-label">Comfirm password</label>
                    <div class="col-md-8">
                        <input type="password" class="form-control" id="confirmPassword" name="comfrimPassword" placeholder="Comfirm password">
                    </div>
                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-right">
                        <button type="button" class="btn btn-warning" onclick="window.history.back()"><i class="fa fa-undo">&nbsp;</i>Cancel</button>
                        <button type="button" id="changePassword" class="btn btn-success"><i class="fa fa-save">&nbsp;</i>Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
$(document).on('click', '#changePassword', function(){
    var userName = $('#userName').val();
    var oldPassword = $('#oldPassword').val();
    var newPassword = $('#newPassword').val();

    if($('.newPassword').hasClass('has-success')) {
        $.ajax({
            type: "PUT",
            url: "/user/definePassword",
            dataType: 'json',
            data: {
                userName        : userName,
                oldPassword     : oldPassword,
                newPassword     : newPassword,
                requestPath     : document.location.pathname,
            },
            async: false,
            success: function(response) {
                requestResult(response.message, response.status);
                if(response.status) {
                    window.history.back();
                }
            },
            error    : function(response) {
                requestResult(response.responseText, false);
            }
        });
    }
})

$(document).on('change', '#confirmPassword', function(){
    var newPassword = $('#newPassword').val();
    var confirmPassword = $('#confirmPassword').val();

    if(newPassword == '' && confirmPassword == '') {
        $('.newPassword').removeClass('has-error').removeClass('has-success');
    } else if(newPassword != confirmPassword) {
        $('.newPassword').addClass('has-error').removeClass('has-success');
    } else {
        $('.newPassword').addClass('has-success').removeClass('has-error');
    }

})

function requestResult(message, status) {
    var class_name = "gritter-danger";
    if (status) {
        class_name = "gritter-primary";
    }
    $.gritter.add({
        title: message,
        class_name: class_name
    });
    $('.btn').removeProp('disabled');
}

function resetForm(){
    $('input').val('');
}
</script>