<div class="container-fluid" data-translate-catalog="user/messages">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">
                <?merge user.userId.bool() ?>
                <span>User modification</span> <small><?merge user.displayName ?></small>
                <?merge user.userId.bool().not() ?>
                <span>New user</span>
            </h1>
        </div>
    </div>
</div>

<div class="container-fluid" data-translate-catalog="user/messages">
    <div class="row">
        <div class="col-xs-12 dataForm" data-form-ns="user">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#userInformationsTab" data-toggle="tab">User information</a></li>
                <!--?merge user.userId.bool() ?-->
                <li><a href="#adminTab" data-toggle="tab">Administration</a></li>
            </ul>
            <?merge user ?>
            <div class="panel panel-primary" style="border-top-left-radius: 0; border-top-right-radius: 0; border-top: none;">
                <div class="panel-body clearfix">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="userInformationsTab">
                            <!-- User information form -->
                            <?hinclude user/view/userManagement/userInformationForm.html ?>
                        </div>
                        <div class="tab-pane fade" id="adminTab">
                            <form class="well form-horizontal">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-xs-offset-3"> 
                                            <div class="form-group ">
                                                <!--label for="enabled">Enabled</label-->
                                                <!--input type="checkbox" class="form-control" placeholder="Enabled" id="enabled" name="enabled" value="1"/-->
                                                <div class="btn-group" data-toggle="buttons">
                                                    <label id="enableUser" class="btn btn-danger [?merge user.enabled.then('active','') ?]" data-action="enable" data-userid="[?merge user.userId ?]">
                                                        <input type="radio" name="enabled" value="1" checked="checked">
                                                        <i class="fa fa-check">&nbsp;</i>
                                                        Enabled
                                                    </label>
                                                    <label id="disableUser" class="btn btn-danger [?merge user.enabled.then('','active') ?]" data-action="disable" data-userid="[?merge user.userId ?]">
                                                        <input type="radio" name="enabled" value="0"> 
                                                        <i class="fa fa-ban">&nbsp;</i>
                                                        Disabled
                                                    </label>
                                                </div>
                                            </div>
                                        </div>  
                                        <div class="form-group">
                                            <label for="lastLogin" class="col-md-2 control-label">Last login</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" id="lastLogin" name="lastLogin" value="" disabled/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="lastIp" class="col-md-2 control-label">Last IP address</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" id="lastIp" name="lastIp" value="[?merge .lastIp ?]" disabled/>
                                            </div>
                                        </div>
                                        <hr/>
                                        <div class="col-xs-offset-3"> 
                                            <div class="form-group ">
                                                <div class="btn-group" data-toggle="buttons">
                                                    <label id="lockUser" class="btn btn-info [?merge user.locked.then('active','') ?]" data-action="lock" data-userid="[?merge user.userId ?]">
                                                        <input type="radio" name="locked" value="1" checked="checked">
                                                        <i class="fa fa-lock">&nbsp;</i>
                                                        Locked
                                                    </label>
                                                    <label id="unlockUser" class="btn btn-info [?merge user.locked.then('','active') ?]" data-action="unlock" data-userid="[?merge user.userId ?]">
                                                        <input type="radio" name="locked" value="0"> 
                                                        <i class="fa fa-unlock">&nbsp;</i>
                                                        Unlocked
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="passwordReset" class="col-md-2 control-label">Password</label>
                                            <div class="col-md-5">
                                                <div class="input-group">
                                                    <input type="password" class="form-control" placeholder="New temporary password (optional)" id="temporaryPassword" name="passwordReset"/>
                                                    <span class="input-group-btn">
                                                        <button id="passwordChangeRequest" class="btn btn-warning" type="button" data-userid="[?merge user.userId ?]"><i class="fa fa-refresh">&nbsp;</i>Request a password change</button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="passwordLastChange" class="col-md-2 control-label">Password last change</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" id="passwordLastChange" name="passwordLastChange" disabled/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer clearfix">
                                    <div class="pull-right ">
                                        <button type="button" class="btn btn-primary" onclick="window.history.back()"><i class="fa fa-undo">&nbsp;</i>Back</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modals for disabling user -->
    <?hinclude user/view/admin/modalsForDisabling.html ?>
</div>

<script>
//unlock
$(document).on('click', '#unlockUser', function() {
    var button = $(this);
    var userId = button.data('userid');

    $.ajax({
        url      : "/user/unlock/"+userId,
        type     : "PUT",
        dataType : 'json',
        success  : function(response){
            requestResult(response.message, response.status);
        },
        error    : function(response) {
            requestResult(response.responseText, false);
        }
    })
});

//lock
$(document).on('click', '#lockUser', function() {
    var button = $(this);
    var userId = button.data('userid');

    $.ajax({
        url      : "/user/lock/"+userId,
        type     : "PUT",
        dataType : 'json',
        success  : function(response){
            requestResult(response.message, response.status);
        },
        error    : function(response) {
            requestResult(response.responseText, false);
        }
    });
});

//password change request
$(document).on('click', '#passwordChangeRequest', function() {
    var button = $(this);
    var userId = button.data('userid');
    var password = $('#temporaryPassword').val();
    var url = "/user/requirePasswordChange/"+userId;
    var data = {};
    
    if(password != "") {
        url = '/user/setPassword';
        data = {
            userId      : userId,
            newPassword : password 
        };
    }

    $.ajax({
        url      : url,
        type     : "PUT",
        dataType : 'json',
        data     : data, 
        success  : function(response){
            requestResult(response.message, response.status);
        },
        error    : function(response) {
            requestResult(response.responseText, false);
        }
    })
});

//enable
$(document).on('click', '#enableUser', function() {
    $('#enableUserModal').modal('show');
    $('#confirmEnabling').data('userid', $(this).data('userid'));
});

//disable
$(document).on('click', '#disableUser', function() {
    $('#disableUserModal').modal('show');
    $('#replacingUser').val('');
    $('#confirmDisabling').data('userid', $(this).data('userid'));
});
</script>