<div class="container-fluid" data-translate-catalog="user/messages">
    <div class="page-header">
        <h1>
            <i class="fa fa-users"></i>
            Users
        </h1>
    </div>
</div>
<div class="container-fluid" data-translate-catalog="user/messages">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading clearfix">
                    <div class="pull-left">
                        <h4></h4>
                    </div>
                    <div class="pull-right">
                        <a href="#" class="btn btn-default btn-sm" id="newUser"><i class="fa fa-plus">&nbsp;</i>New user</a>
                    </div>
                </div>
                <div class="panel-body" style="padding: 0;">
                    <table class="table table-bordered table-condensed dataTable" style="margin: 0;" id="list">
                        <thead>
                            <tr>
                                <th name="userName">User name</th>
                                <th>Full name</th>
                                <th>Email</th>
                                <th>Enabled</th>
                                <th>Lock</th>
                                <th style="min-width:160px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?merge users ?>
                            <tr id="[?merge .userId ?]">
                                <td><?merge .userName ?></td>
                                <td><?merge .displayName ?></td>
                                <td><?merge .emailAddress ?></td>
                                <td class="userStatus">
                                    <?merge .enabled.not() ?><i class="fa fa-ban"></i>
                                    <?merge .enabled.ifne(false) ?><i class="fa fa-check"></i>
                                </td>
                                <td class="lockStatus">
                                    <?merge .locked.not() ?><i class="fa fa-unlock"></i>
                                    <?merge .locked.ifne(false) ?><i class="fa fa-lock"></i>
                                </td>
                                <td>
                                    <div class="btn-group pull-right">
                                        <a href="#" class="editUser btn btn-primary" data-userid="[?merge .userId ?]" title="Edit">
                                            <span class="fa fa-fw fa-edit"></span>
                                        </a>
                                        <a href="#" class="lockUser btn btn-warning" style="display: [?merge .locked.then('none', '') ?]" data-userid="[?merge .userId ?]" title="Lock">
                                            <span class="fa fa-fw fa-lock"></span>
                                        </a>
                                        <a href="#" class="unlockUser btn btn-warning" style="display: [?merge .locked.then('', 'none') ?]" data-userid="[?merge .userId ?]" title="Unlock">
                                            <span class="fa fa-fw fa-unlock"></span>
                                        </a>
                                        <a href="#" class="enableUser btn btn-danger" style="display: [?merge .enabled.then('none', '') ?]" data-userid="[?merge .userId ?]" title="Enable">
                                            <span class="fa fa-fw fa-check"></span>
                                        </a>
                                        <a href="#" class="disableUser btn btn-danger" style="display: [?merge .enabled.then('', 'none') ?]" data-userid="[?merge .userId ?]" title="Disable">
                                            <span class="fa fa-fw fa-times"></span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- modals for disabling user -->
    <?hinclude user/view/admin/modalsForDisabling.html ?>
</div>

<script src="/static.php/user/js/actionsListener.js"></script>
<script src="/static.php/user/js/function.js"></script>

<script>
//add
$(document).on('click', '#newUser',  function() {
    window.location.href = "/user/new";
});

//edit
$(document).on('click', '.editUser', function() {
    var userId = $(this).data("userid");
    window.location.href    = "/user/edit/"+userId;
});

//unlock
$(document).on('click', '.unlockUser', function() {
    var button = $(this);
    var userId = button.data('userid');

    $.ajax({
        url      : "/user/unlock/"+userId,
        type     : "PUT",
        dataType : 'json',
        success  : function(response){
            requestResult(response.message, response.status);
            if(response.status) {
                button.css('display', 'none').closest('td').find('.lockUser').css('display', '');
                $('#'+userId).find('.lockStatus > i').addClass('fa-unlock').removeClass('fa-lock');
            }
        },
        error    : function(response) {
            requestResult(response.responseText, false);
        }
    })
});

//lock
$(document).on('click', '.lockUser', function() {
    var button = $(this);
    var userId = button.data('userid');

    $.ajax({
        url      : "/user/lock/"+userId,
        type     : "PUT",
        dataType : 'json',
        success  : function(response){
            requestResult(response.message, response.status);
            if(response.status) {
                button.css('display', 'none').closest('td').find('.unlockUser').css('display', '');
                $('#'+userId).find('.lockStatus > i').addClass('fa-lock').removeClass('fa-unlock');
            }
        },
        error    : function(response) {
            requestResult(response.responseText, false);
        }
    });
});

//enable
$(document).on('click', '.enableUser', function() {
    $('#enableUserModal').modal('show');
    $('#confirmEnabling').data('userid', $(this).data('userid'));
});

//disable
$(document).on('click', '.disableUser', function() {
    $('#disableUserModal').modal('show');
    $('#replacingUser').val('');
    $('#confirmDisabling').data('userid', $(this).data('userid'));
});

function requestResult(message, status) {
    var class_name = "gritter-danger";
    if (status) {
        class_name = "gritter-primary";
    }
    $.gritter.add({
        text: message,
        class_name: class_name
    });
    $('.btn').removeProp('disabled');
}
</script>