<div class="modal fade" id="disableUserModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Disable user</h4>
            </div>
            <div class="modal-body">
                <p>
                    You are about to disable this user. Please chose a replacing user to complete this action. 
                </p>
                <input type="text" class="form-control" placeholder="User" id="replacingUser"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="cancelDisabling" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="confirmDisabling" data-userid>Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="enableUserModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Enable user</h4>
            </div>
            <div class="modal-body">
                <p>
                    Are you sure to reactive this user ?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="cancelEnabling" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="confirmEnabling" data-userid>Yes</button>
            </div>
        </div>
    </div>
</div>


<script>
$(document).ready(function(){
        // Define data source for person typeahead
        var personsSource = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('displayName'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/user/query/%QUERY',
                ajax : {
                    async: false
                }
            },
            limit: 100
        });
        personsSource.initialize();

        // initialize typeahead
        $('#replacingUser').typeahead(
            {
                hint: true,
                highlight: true,
                minLength: 3
            }, 
            // data source contacts
            {
                name: 'users',
                displayKey: 'displayName',
                templates: {
                    empty: function() {
                        return "<span class='well well-sm'>No user found</span>";
                    },
                    suggestion: function(person) {
                        var display = 
                            "<span>"
                                + "<span class='fa fa-user' >&nbsp;</span>"
                                + "<span style='font-family:Helvetica, sans-serif;'>" 
                                + person.displayName;
                        display += 
                                "</span>";
                        display += 
                            "</span>";

                        return display;
                    }
                },
                source: function(query, cb) {
                    personsSource.get(query, function(suggestions) {
                        cb(suggestions);
                    });
                },
                skipCache: true
            }
        ).on('typeahead:selected', function($event, suggestion, source) {
            $("#replacingUser").attr('data-replacinguserid', suggestion.userId);
        });
    })
    
    $('#cancelEnabling').on('click', function(){
        $('#enableUser').removeClass('active').find('input').prop('checked', false);
        $('#disableUser').addClass('active').find('input').prop('checked', true);
    });

    $('#confirmDisabling').on('click', function(){
        replacingUserId = $("#replacingUser").data('replacinguserid');
        userId = $(this).data('userid');

        $.ajax({
            url: '/user/disable/'+userId+'/'+replacingUserId,
            type: 'PUT',
            contentType: 'application/json',
            dataType: 'json',
            success: function(response) {
                var tr = $('#'+userId);

                requestResult(response.message, response.status);
                $('#disableUserModal').modal('hide');
                tr.find('.userStatus > i').removeClass('fa-check').addClass('fa-ban');
                tr.find('.disableUser').css('display', 'none');
                tr.find('.enableUser').css('display', '');
            },
            error: function(response) {
                requestResult(response.responseText, false);
            }
        });
    });

    $('#cancelDisabling').on('click', function(){
        $('#enableUser').addClass('active').find('input').prop('checked', true);
        $('#disableUser').removeClass('active').find('input').prop('checked', false);
    });

    $('#confirmEnabling').on('click', function(){
        userId = $(this).data('userid');

        $.ajax({
            url: '/user/enable/'+userId,
            type: 'PUT',
            contentType: 'application/json',
            dataType: 'json',
            success: function(response) {
                var tr = $('#'+userId);

                requestResult(response.message, response.status);
                $('#enableUserModal').modal('hide');
                tr.find('.userStatus > i').removeClass('fa-ban').addClass('fa-check');
                tr.find('.disableUser').css('display', '');
                tr.find('.enableUser').css('display', 'none');
            },
            error: function(response) {
                requestResult(response.responseText, false);
            }
        });
        $('#orgUnitConfirmDelete').modal('hide');
    });
</script>