
<div class="container-fluid" data-translate-catalog="authorization/messages">
    <div class="page-header">
        <h1>
            <i class="fa fa-group"></i>
            <?merge group.groupId.bool() ?>
            <span>Edit group</span>
            <?merge group.groupId.bool().not() ?>
            <span>New group</span>
            <small><?merge group.displayName ?></small>
        </h1>
    </div>
</div>

<div class="container-fluid" data-translate-catalog="authorization/messages">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">Informations</div>
                <div class="panel-body">
                    <?merge group ?>
                    <form id="groupInformation">
                        <input type="hidden" id="grouIp" name="groupId"/>
                        <div class="form-group">
                            <label>Group name</label>
                            <input type="text" class="form-control" name="groupName" />
                        </div>
                        <div class="form-group">
                            <label>Display name</label>
                            <input type="text" class="form-control" name="displayName" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Administrator&nbsp;
                            <?merge group.superadmin @checked ?>
                                <input type="checkbox" name="superadmin" id="superadmin" data-toggle="toggle"> 
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" name="description"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="btn-group" data-toggle="buttons" id="groupStatus">
                                <label class="btn btn-info [?merge .enabled.then('', 'active') ?]">
                                    <input type="radio" name="enabled" value="1"><i class="fa fa-unlock">&nbsp;</i> Enabled
                                </label>
                                <label class="btn btn-danger [?merge .enabled.then('active', '') ?]">
                                    <input type="radio" name="enabled" value="0"><i class="fa fa-lock">&nbsp;</i> Disabled
                                </label>
                            </div>
                        </div>
                    </form>
                    <div class="clearfix">
                        <div class="pull-right ">
                            <button type="button" id="cancel" class="btn btn-warning"><i class="fa fa-times">&nbsp;</i>Cancel</button>
                            <button type="button" id="submit" class="btn btn-success"><i class="fa fa-check">&nbsp;</i>Done</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <ul class="nav nav-tabs nav-justified">
                <li id="groupMembersTabBtn" class="active"><a href="#groupMembersTab" data-toggle="tab">Group members</a></li>
                <li id="privilegesTabBtn" class="[?merge group.superadmin.then('disabled', '') ?]"><a href="#privilegesTab" data-toggle="[?merge group.superadmin.then('', 'tab') ?]">Group privileges</a></li>
                <li id="rulesTabBtn" class="[?merge group.superadmin.then('disabled', '') ?]"><a href="#rulesTab" data-toggle="[?merge group.superadmin.then('', 'tab') ?]">Group rules</a></li>
            </ul>
            <div class="panel panel-primary" style="border-top-left-radius: 0; border-top-right-radius: 0; border-top: none;">
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="groupMembersTab" >
                            <h3>Group members</h3>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="User" id="personTypeahead" data-membersids='[?merge group.membersids ?]'/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" type="button" id="addMember"><i class="fa fa-plus fa-fw"></i>&nbsp;</button>
                                    </span>
                                </div>
                            </div>
                            <div id="members" class="col-xs-12" translate="no">
                                <?merge group.groupMembers ?>
                                <?merge . ?>
                                <div class="input-group">
                                    <span id="[?merge .partyId ?]"></span>
                                    <input type="text" class="form-control" value="[?merge .displayName ?]" data-userid="[?merge .objectId ?]" readOnly="true">
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger removeMembre" type="button" data-userid="[?merge .objectId ?]" >
                                            <i class="fa fa-trash-o fa-fw"></i>&nbsp;
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade in" id="privilegesTab" >
                            <h3>Privileges</h3>
                            <!--div id="privilegesTree" class="tree"-->
                                <!-- Tree of privileges goes here -->
                            <div class="panel-group" id="privileges" role="tablist" aria-multiselectable="true">
                                <?merge bundles ?>
                                <div class="panel panel-default" data-translate-catalog="[?merge .name ?]/messages">
                                    <div class="panel-heading" role="tab">
                                        <h4 class="panel-title">
                                            <div class="btn-group" data-toggle="buttons" >
                                                <label class="bundleRadio fullBundleCheck btn btn-toggle [?merge .privilegeStatus.then('btn-success active', 'btn-default') ?]">
                                                    <?merge .privilegeStatus @checked ?>
                                                    <input type="checkbox" class="bundleRadioBtn" value='[?merge .value ?]'><small style="color:[?merge .privilegeStatus.then('white', '')?]">All</small></i>
                                                </label>
                                                &nbsp;
                                            </div>
                                            <a data-translate-context="bundle" data-toggle="collapse" data-parent="#privileges" href="#[?merge .name ?]_privilege" aria-expanded="false" aria-controls="[?merge .name ?]_privilege">
                                                <?merge .name ?>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="[?merge .name ?]_privilege" class="panel-collapse collapse out" role="tabpanel">
                                        <div class="panel-body">
                                            <ul class="list-group">
                                            <?merge .api ?>
                                                <li class="list-group-item" data-translate-context="interface">
                                                    <span><?merge .name ?><span>
                                                    <div class="btn-group pull-right" data-toggle="buttons" >
                                                        <label class="objectRadio btn btn-toggle [?merge .status.then('btn-success active', 'btn-danger') ?] [?merge .bundleChecked.then('disabled', '') ?]">
                                                            <?merge .status @checked ?>
                                                            <input type="checkbox" class="objectRadioBtn" value='[?merge .value ?]'><div class="label"><?merge .status.then("On" , "Off") ?></div>
                                                        </label>
                                                    </div> 

                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade in" id="rulesTab" >
                            <h3>Rules</h3>
                            <!--div id="rulesTree" class="tree"-->
                                <!-- Tree of rules goes here -->
                            <div class="panel-group" id="rules" role="tablist" aria-multiselectable="true">
                                <?merge bundles ?>
                                <div class="panel panel-default" data-translate-catalog="[?merge .name ?]/messages">
                                    <div class="panel-heading" role="tab">
                                        <h4 class="panel-title">
                                            <div class="btn-group" data-toggle="buttons" >
                                                <label class="bundleRadio fullBundleCheck btn btn-toggle [?merge .ruleStatus.then('btn-success active', 'btn-default') ?]">
                                                    <?merge .ruleStatus @checked ?>
                                                    <input type="checkbox" class="bundleRadioBtn" value='[?merge .value ?]'><small style="color:[?merge .ruleStatus.then('white', '')?]">All</small></i>
                                                </label>
                                                &nbsp;
                                            </div>
                                            <a data-translate-context="bundle" data-toggle="collapse" data-parent="#rules" href="#[?merge .name ?]_rule" aria-expanded="false" aria-controls="[?merge .name ?]_rule">
                                                <?merge .name ?>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="[?merge .name ?]_rule" class="panel-collapse collapse out" role="tabpanel">
                                        <div class="panel-body">
                                            <ul class="list-group">
                                            <?merge .class ?>
                                                <li class="list-group-item">
                                                    <span data-translate-context="model"><?merge .name ?><span>
                                                    <div class="pull-right">
                                                        <i class="fa fa-plus-circle showContext" style="display:[?merge .status.then('', 'none') ?]; cursor:pointer; color:silver">&nbsp;</i>
                                                        <div class="btn-group" data-toggle="buttons" >
                                                            <label class="objectRadio btn btn-toggle [?merge .status.then('btn-success active', 'btn-danger') ?] [?merge .bundleChecked.then('disabled', '') ?]">
                                                                <?merge .status @checked ?>
                                                                <input type="checkbox" class="objectRadioBtn" value='[?merge .value ?]'><div class="label"><?merge .status.then("On" , "Off") ?></div>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group contextArea" style="display:none">
                                                        <textarea class="form-control"><?merge .context ?></textarea>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/public/dependency/html/js/bootstrap-tree/bootstrap-tree.js"></script>
<script type="application/javascript">

    $(document).ready(function(){
        
        $('.bundleRadio.active').closest('.panel').find('.objectRadio').addClass('disabled').addClass('btn-success').removeClass('btn-danger').find('.label').html('On ');

        // Define data source for person typeahead
        var personsSource = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('displayName'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/authorization/queryPersons/%QUERY',
                ajax : {
                    async: false
                }
            },
            limit: 100
        });
        personsSource.initialize();

        // initialize typeahead
        $('#personTypeahead').typeahead(
            {
                hint: true,
                highlight: true,
                minLength: 3
            }, 
            // data source contacts
            {
                name: 'persons',
                displayKey: 'displayName',
                templates: {
                    empty: function() {
                        return "<span class='well well-sm'>No person found</span>";
                    },
                    suggestion: function(person) {
                        var display = 
                            "<span>"
                                + "<span class='fa fa-user' >&nbsp;</span>"
                                + "<span style='font-family:Helvetica, sans-serif;'>" 
                                + person.displayName;
                        display += 
                                "</span>";
                        display += 
                            "</span>";

                        return display;
                    }
                },
                source: function(query, cb) {
                    personsSource.get(query, function(suggestions) {
                        var i = suggestions.length
                        while (i--) {
                            if($.inArray(suggestions[i].objectId, $('#personTypeahead').data('membersids')) > -1) 
                                suggestions.splice(i, 1);
                        }
                        cb(suggestions);
                    });
                },
                skipCache: true
            }
        ).on('typeahead:selected', function($event, suggestion, source) {
            $("#personTypeahead").prop('person', suggestion);
        });
    })

    //superadmin
    $(document).on('click', '#superadmin', function() {
        if ($(this).is(':checked')) {
            $('#groupMembersTabBtn').find('a').click();
            $('#privilegesTabBtn').addClass('disabled').find('a').attr('data-toggle', '');
            $('#rulesTabBtn').addClass('disabled').find('a').attr('data-toggle', '');
        } else {
            $('#privilegesTabBtn').removeClass('disabled').find('a').attr('data-toggle', 'tab');
            $('#rulesTabBtn').removeClass('disabled').find('a').attr('data-toggle', 'tab');
        }
    })
    
    //cancel
    $(document).on('click', '#cancel', function() {
        location.href="/authorization/index";
    })

    //submit
    $(document).on('click', '#submit', function() {
        //$('button').prop('disabled', 'true');
        var url = '/authorization/create';
        var type = 'POST';

        if($('#grouIp').val()){
            var url = '/authorization/update';
            var type = 'PUT';
        }

        //serialize();
        //return;

        $.ajax({
            url: url,
            type: type,
            data: JSON.stringify(serialize()),
            contentType: 'application/json',
            dataType: 'json',
            success: function(response) {
                requestResult(response.message, response.status);
                location.href="/authorization/index";
            },
            error: function(response) {
                requestResult(response.responseText, false);
            }
        })
    })

    /* GROUP MEMBERS */
    //add members
    $(document).on('click', "#addMember", function() {
        if(suggestion = $("#personTypeahead").prop('person')) {
            addgroupMember(suggestion.displayName, suggestion.objectId);
        }
    })

    //remove members
    $(document).on('click', '.removeMembre', function() {
        var personTypeahead = $('#personTypeahead');
        var memebersIds = personTypeahead.data('membersids');
        var userid = $(this).data('userid');
        memebersIds = jQuery.grep(memebersIds, function(value) {
              return value != userid;
        });
        personTypeahead.data('membersids', memebersIds);
        $(this).closest('.input-group').remove();
    })

    /* TREE MANAGEMENT */
    // on/off switches
        
    $(document).on('click', '.objectRadio', function(){
        if($(this).hasClass('active')) {
            $(this).find('.label').html('Off');
            $(this).addClass('btn-danger').removeClass('btn-success');
            $(this).closest('.pull-right').find('i').removeClass("fa-minus-circle").addClass("fa-plus-circle").css('display', 'none');
            $(this).closest('span').find('.contextArea:first').hide('fast');
        } else {
            $(this).find('.label').html('On ');
            $(this).addClass('btn-success').removeClass('btn-danger');
            $(this).closest('.pull-right').find('i').css('display', '');
        }
    })

    $(document).on('click', '.bundleRadio', function(){
        if($(this).hasClass('active')) {
            $(this).addClass('btn-default').removeClass('btn-success').find('small').css('color', '');
            $(this).closest('.panel').find('.objectRadio').removeClass('disabled').addClass('btn-danger').removeClass('btn-success').find('.label').html('Off');
        } else {
            $(this).removeClass('btn-default').addClass('btn-success').find('small').css('color', 'white');
            $(this).closest('.panel').find('.objectRadio').addClass('disabled').addClass('btn-success').removeClass('btn-danger').find('.label').html('On ');
            $(this).closest('.panel').find('.contextArea').hide('fast');
            $(this).closest('.panel').find('i').removeClass("fa-minus-circle").addClass("fa-plus-circle").css('display', 'none');
        }
    })

    //toggle context
    $(document).on('click', '.showContext', function(){
        var textarea = $(this).closest('span').find('.contextArea:first');
        if(textarea.is(":visible")) {
            textarea.hide('fast');
            $(this).removeClass("fa-minus-circle").addClass("fa-plus-circle");
        } else {
            textarea.show('fast');
            $(this).removeClass("fa-plus-circle").addClass("fa-minus-circle");
        }
    });

    function serialize() {
        var jsonObject = {
            groupMembers : [],
            privileges : [],
            accessRules : []
        };

        //group
        var properties = $('#groupInformation').find('input[type="text"], input[type="hidden"], textarea');
        $.each(properties, function(){
            jsonObject[$(this).attr('name')] = $(this).val();
        })
        properties = $('#groupStatus').find('.active > input');
        jsonObject[properties.attr('name')] = properties.val();

        //groupMembers
        var groupMembers = $("#members").find('input');
        $.each(groupMembers, function(){
            jsonObject.groupMembers.push({userId : $(this).data('userid')});
        })

        
        if($('#superadmin').prop('checked')){
            jsonObject.privileges.push({route : '*'});
            jsonObject.accessRules.push({className : '', context : ''});
        }
        else{
            //privileges
            $('#privileges').find('.bundleRadioBtn').each(function(){
                if($(this).prop('checked')) {
                    jsonObject.privileges.push({route : $(this).val()});
                } else {
                    $(this).closest('.panel').find('.objectRadioBtn:checked').each(function(){
                        jsonObject.privileges.push({route : $(this).val()});
                    });
                }
            });
            //accessRules
            $('#rules').find('.bundleRadioBtn').each(function(){
                if($(this).prop('checked')) {
                    jsonObject['accessRules'].push({className : $(this).val(), context : $(this).closest('h4').find('textarea:first').val()});
                } else {
                    $(this).closest('.panel').find('.objectRadioBtn:checked').each(function(){
                        jsonObject['accessRules'].push({className : $(this).val(), context : $(this).closest('span').find('textarea:first').val()});
                    });
                }
            });
        }
        console.log(jsonObject);
        return jsonObject;
    }

    function addgroupMember(memberName, memberId) {

        var personTypeahead = $('#personTypeahead');
        var memebersIds = personTypeahead.data('membersids');
        personTypeahead.val("");
        memebersIds.push(memberId);
        personTypeahead.data('membersids', memebersIds);

        var inputGroup = $('<div/>')
            .addClass('input-group')
            .appendTo($('#members'));
        
        var input = $('<input/>')
            .addClass('form-control')
            .attr('type', 'text')
            .attr('readonly', 'true')
            .data('userid', memberId)
            .val(memberName)
            .appendTo(inputGroup);

        var inputGrpBtn = $('<span/>')
            .addClass('input-group-btn')
            .appendTo(inputGroup);

        var btn = $('<button/>')
            .addClass('btn btn-danger removeMembre')                   
            .attr('type', 'button')
            .data('userid', memberId)
            .html("&nbsp;")
            .appendTo(inputGrpBtn);

        var icon = $('<i/>')
            .addClass('fa fa-trash-o fa-fw')
            .prependTo(btn);
    }

function requestResult(message, status) {
    var class_name = "gritter-danger";
    if (status) {
        class_name = "gritter-primary";
    }
    $.gritter.add({
        text: message,
        class_name: class_name
    });
    $('.btn').removeProp('disabled');
}
</script>