
<div class="container-fluid" data-translate-catalog="authorization/messages">
    <div class="page-header">
        <h1>
            <i class="fa fa-key"></i>
            Authorization groups
        </h1>
    </div>
</div>

<div class="container-fluid" data-translate-catalog="authorization/messages">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading clearfix">
                    <div class="pull-right btn-toolbar">
                        <button type="button" id="createGroup" class="btn btn-default"><i class="fa fa-plus fa-fw"></i>Create new group</button>
                    </div>
                    <div class="pull-left">
                        <h4><?merge groups.count() ?> authorization group(s)</h4>
                    </div>
                </div>
                <div class="panel-body" style="padding: 0;">
                    <table class="table dataTable" id="list">
                        <thead>
                            <tr>
                                <th>Group Name</th>
                                <th>Description</th>
                                <th>Enabled</th>
                                <th style="min-width:100px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?merge groups ?>
                            <tr>
                                <td><?merge .displayName ?></td>
                                <td><?merge .description ?></td>
                                <td><i class="fa [?merge .enabled.then('fa-unlock', 'fa-lock') ?]"</td>
                                <td>
                                    <div class="btn-group pull-right">
                                        <a class="btn btn-info editGroup" data-groupid="[?merge .groupId?]"  title="Show">
                                            <span class="fa fa-fw fa-edit"></span>
                                        </a>
                                        <a class="btn btn-warning changeStatus" data-groupid="[?merge .groupId?]" data-status="[?merge .enabled?]" title="[?merge .enabled.then('Lock', 'Unlock') ?]">
                                            <span class="fa fa-fw [?merge .enabled.then('fa-lock', 'fa-unlock') ?]"></span>
                                        </a>
                                        <!--a class="btn btn-danger deleteGroup" data-groupid="[?merge .groupId?]"  title="Delete">
                                            <span class="fa fa-fw fa-trash"></span>
                                        </a-->
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="display:none">
<span id="lock_text">Lock</span>
<span id="unlock_text">Unlock</span>
</div>

<script type="application/javascript">
    //add a new group
    $(document).on('click', "#createGroup", function(){
        location.href="/authorization/new";
    });

    //edit a group
    $(document).on('click', ".editGroup", function(){
        location.href="/authorization/edit/"+$(this).data('groupid');
    });

    //change the status of the group
    $(document).on('click', ".changeStatus", function(){
        var groupId = $(this).data('groupid');
        var status = $(this).data('status');
        var button = $(this);
        $.ajax({
            url: "/authorization/changeStatus/"+groupId+"/"+!status,
            type: "PUT",
            dataType: 'json',
            success: function(response) {
                var icon = button.closest('tr').find('td > i:first');
                button.data('status', !status);
                if(status) {
                    icon.removeClass('fa-unlock').addClass('fa-lock');
                    button.attr('title', $('#lock_text').html());
                    button.find('span:first').removeClass('fa-lock').addClass('fa-unlock');
                } else {
                    icon.removeClass('fa-lock').addClass('fa-unlock');
                    button.attr('title', $('#unlock_text').html());
                    button.find('span:first').removeClass('fa-unlock').addClass('fa-lock');
                }
                requestResult(response.message, response.status);
            },
            error: function(response) {
                requestResult(response.responseText, false);
            }
        })
    });

    //delete a group
    $(document).on('click', ".deleteGroup", function(){
        requestResult('Not implemented... yet.', false)
    });

    function requestResult(message, status) {
        var class_name = "gritter-danger";
        if (status) {
            class_name = "gritter-primary";
        }
        $.gritter.add({
            text: message,
            class_name: class_name
        });
        $('.btn').removeProp('disabled');
    }
</script>