<!-- Modal -->
<div class="modal fade" id="noRightsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">NON AUTORISE</h4>
            </div>
            <div class="modal-body">
                Vous ne disposez pas des autorisations n&eacute;cessaires pour r&eacute;aliser cette action.
            </div>
            <div class="modal-footer">
                <button type="button" id="back" class="btn btn-primary btn-block">
                    <span class="fa fa-arrow-left fa-fw"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#noRightsModal').modal({
            backdrop: 'static',
            keyboard: false,
        });

        $('#noRightsModal').modal('show');

        $('#back').on('click', function() {
            parent.history.back();
            return false;
        });
    });
</script>