<div class="modal fade" id="organizationConfirmDelete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete organization</h4>
            </div>
            <div class="modal-body">
                <p>
                    Are you sure to delete this organization ? This action will also delete the organization units and persons above !
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="confirmOrganizationDelete">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="orgUnitConfirmDelete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete organization unit</h4>
            </div>
            <div class="modal-body">
                <p>
                    Are you sure to delete this organization unit ? This action will also delete the organization units and persons above !
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="confirmOrgUnitDelete">Yes</button>
            </div>
        </div>
    </div>
</div>


<script>
    $('#confirmOrganizationDelete').on('click', function(){
        $.ajax({
            url: '/organization/adminOrgTree/deleteOrganization/'+$(this).attr('data-orgId'),
            type: 'DELETE',
            contentType: 'application/json',
            dataType: 'json',
            success: function(response) {
                requestResult(response.message, response.status);
                reloadTree();
            },
            error: function(response) {
                requestResult(response.responseText, false);
            }
        });
        $('#organizationConfirmDelete').modal('hide');
    });

    $('#confirmOrgUnitDelete').on('click', function(){
        $.ajax({
            url: '/organization/adminOrgTree/deleteOrgUnit/'+$(this).attr('data-orgUnitId'),
            type: 'DELETE',
            contentType: 'application/json',
            dataType: 'json',
            success: function(response) {
                requestResult(response.message, response.status);
                reloadTree();
            },
            error: function(response) {
                requestResult(response.responseText, false);
            }
        });
        $('#orgUnitConfirmDelete').modal('hide');
    });
</script>