<ul lang="en" data-translate-catalog="organization/messages">
    <li>
        <span class="root" data-orgId="[?merge .orgId?]" data-orgname="[?merge .orgName?]">
            <h5><i class="fa">&nbsp;</i><?merge .displayName?>&nbsp;&nbsp;
            <div class="dropdown btn-group" style="display:inline">
                <i class="dropdown-toggle" data-toggle="dropdown">
                    &nbsp;<i class="menu fa fa-bars" style="cursor:pointer">&nbsp;</i>
                </i>
                <ul class="dropdown-menu" role="menu">
                    <li name="modifyOrganization" data-title="[?merge .displayName?]"><a href="#"><i class="fa fa-edit" >&nbsp;</i>Update</a></li>
                    <li name="addOrgUnit" data-title="Parent : [?merge .displayName?]"><a href="#"><i class="fa fa-plus" >&nbsp;</i>Add an unit</a></li>
                    <li name="deleteOrganization" ><a href="#"><i class="fa fa-trash-o" >&nbsp;</i>Delete</a></li>
                </ul>
            </div>
            </h5>
        </span>
        
    </li>
</ul>
