<div class="panel panel-default dataForm" style="display:none;" data-form-ns="organization" id="organizationForm">
    <div class="panel-heading">
        <h4>Organization <small></small></h4>
    </div>
    <div class="panel-body">
        <form>
            <input type="hidden" name="orgId">
            <div class="col-xs-4">
                <input type="file" accept="image/x-png, image/jpeg" class="hide" id="orgPictureInput" name="orgPicture" data-base64="">
                <a href='#'>
                    <button type="button" id="resetOrgImage" class="close">&times;</button>
                    <img id="orgPicture" class="img-rounded col-xs-12" src="/public/bundle/contact/img/contact.png" alt="">
                </a>
            </div>
            <div class="col-xs-8">
                <div class="form-group">
                    <label for="orgName">Organization name</label>
                    <input type="text" class="form-control" name="orgName" placeholder="Organization name">
                </div>
                <div class="form-group">
                    <label for="otherOrgName">Other name</label>
                    <input type="text" class="form-control" name="otherOrgName" placeholder="Other name">
                </div>
                <div class="form-group">
                    <label for="displayName">Display name</label>
                    <input type="text" class="form-control" name="displayName" placeholder="Display name">
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="legalClassification">Legal classification</label>
                    <input type="text" class="form-control" name="legalClassification" placeholder="Legal classification">
                </div>
                <div class="form-group">
                    <label for="taxIdentifier">Tax identifier</label>
                    <input type="text" class="form-control" name="taxIdentifier" placeholder="Tax identifier">
                </div>
                <div class="form-group">
                    <label for="registrationNumber">Registration number</label>
                    <input type="text" class="form-control" name="registrationNumber" placeholder="Registration number">
                </div>
                <div class="form-group ">
                    <label for="orgRole">Organization role</label>
                    <dl class="dl-horizontal" data-orgRoleValue="">
                        <?merge orgRoles ?>
                        <div>
                            <dt>
                                <input type="checkbox" name="orgRole" value="[?merge .orgRoleCode ?]">
                            </dt>
                            <dd><?merge .orgRoleName ?></dd>
                        </div>
                    </dl>
                </div>
            </div>
        </form>
        <button type="button" class="btn btn-success" id="submitOrganization">Save</button>
        <button type="button" class="btn btn-warning" id="cancelOrganization">Cancel</button>
    </div>
</div>

<script>
    //show the new organization form
    $(document).on('click', '#newOrganization', function(){
        $.ajax({
            url: "/organization/adminOrgTree/newOrganization",
            type: "GET",
            dataType: 'json',
            success: function(response) {
                loadForm(response, 'organizationForm');
            }
        })
    })

    //cancel
    $(document).on('click', "#cancelOrganization", function(){
        $('#organizationForm').css('display', 'none');
    })

    //add or modify an organization
    $(document).on('click', "#submitOrganization", function(){
        $('button').prop('disabled', true);

        var action = "/organization/organization";
        var method = "POST";

        if($('#organizationForm').find('[name="orgId"]').val()) {
            action = "/organization/adminOrgTree/modifyOrganization";
            method = "PUT";
        }

        var organization = serialize('organizationForm');
        organization.picture = $('#orgPictureInput').data('base64');

        organization.orgRoleCode="";
        var inputChecked = Array();
        $('#organizationForm').find('input:checked').each( function (){
            inputChecked.push($(this).val());
        });

        organization.orgRoleCode = inputChecked.join(" ");
        
         $.ajax({
            url: action,
            type: method,
            data: JSON.stringify(organization),
            contentType: 'application/json',
            dataType: 'json',
            success: function(response) {
                requestResult(response.message, response.status);
                if(response.status) {
                    $('#organizationForm').css('display', 'none');
                    reloadTree();
                }
            },
            error: function(response) {
                requestResult(response.responseText, false);
            }
        })
        $('button').removeAttr('disabled');
    });

    //edit an organization
    $(document).on('click', "[name='modifyOrganization']", function(){
        var orgId = $(this).closest('span').attr("data-orgId");
        var title = $(this).attr("data-title");
        $.ajax({
            url: "/organization/adminOrgTree/editOrganization/"+orgId,
            type: "GET",
            contentType: 'application/json',
            dataType: 'json',
            success: function(response) {
                loadForm(response, 'organizationForm', title);
                if(response.picture != null){
                    $('#orgPictureInput').data('base64', response.picture);
                    $('#orgPicture').attr('src', response.picture);
                }
            },
            error: function(response) {
                requestResult(response.responseText, false);
            }
        })
    });

    //delete on organization
    $(document).on('click', "[name='deleteOrganization']", function(){
        var orgId = $(this).closest('span[data-orgid]').attr("data-orgid");
        $('#confirmOrganizationDelete').attr('data-orgId', orgId);
        $('#organizationConfirmDelete').modal('show');
    });

    //organization picture
    $(document).on('click', '#orgPicture', function() {
        $('#orgPictureInput').click();
    });

    $(document).on('change', '#orgPictureInput', function() {    
        oFile = $(this).context.files[0];
        oFileReader = new FileReader();
        oFileReader.readAsDataURL(oFile);
        oFileReader.onload = function() {
        if(oFile.size <= 100 * 1024) {
                $('#orgPicture').attr('src', oFileReader.result);
                $('#orgPictureInput').data('base64', oFileReader.result);
            } else {
                requestResult("The image is too large.", false);
            }
        }
    });

    $(document).on('click', '#resetOrgImage', function() {
            $('#orgPicture').attr('src', '/public/bundle/contact/img/contact.png');
            $('input[name="orgPicture"]').data('base64', "");
    });
</script>
