 <div class="panel panel-default dataForm" style="display:none;" data-form-ns="orgUnitPerson" id="orgPersonForm">
    <div class="panel-heading">
        <h4>Organization unit members <small></small></h4>
    </div>
    <div class="panel-body">
        <form>
            <input type="hidden" name="orgUnitId" >

            <div class="form-group">
                <div class="btn-group btn-group-justified" id="personFormSwitch" data-toggle="buttons">
                    <label class="btn btn-info active">
                        <input type="radio" name="personFormSwitch" value="recorded"> Recorded persons
                    </label>
                    <label class="btn btn-info" id="newPersonButton">
                        <input type="radio" name="personFormSwitch" value="new"> New person
                    </label>
                </div>
            </div>
            <!-- New Person -->
            <div id="newPersonForm" style="display:none">
                <input type="hidden" name="orgPersonId">
                <div class="col-xs-4">
                    <input type="file" accept="image/x-png, image/jpeg" class="form-control hide" name="personPicture">
                    <a href='#'>
                        <button type="button" id="resetPersonImage" class="close">&times;</button>
                        <img id="personPicture" class="img-rounded col-xs-12" data-base64="" src="/public/bundle/contact/img/contact.png" alt="">
                    </a>
                </div>
                <div class="col-xs-8">
                    <div class="form-group">
                        <label>First name</label>
                        <input type="text" class="form-control" name="firstName" placeholder="First name">
                    </div>
                    <div class="form-group">
                        <label>Last name</label>
                        <input type="text" class="form-control" name="lastName" placeholder="Last name">
                    </div>
                    <div class="form-group">
                        <label>Birth name</label>
                        <input type="text" class="form-control" name="birthName" placeholder="Birth name">
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Display name</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="displayName" placeholder="Display name">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">&nbsp; <span class="caret"></span></button>
                                <ul id="personDisplayNameList" class="dropdown-menu dropdown-menu-right" role="menu">
                                </ul>
                            </div>
                        </div>                 
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label>Gender</label>
                    <select class="form-control" name="gender">
                        <option value=""></option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Date of birth</label>
                    <input type="text" class="form-control datePicker" name="dateOfBirth" placeholder="Date of birth">
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Function</label>
                        <input type="text" class="form-control" name="function" placeholder="Function">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-success" id="submitOrgPerson"><i class="fa fa-plus fa-fw">&nbsp;</i>Add</button>
                        <button type="button" class="btn btn-success" id="submitModifyPerson" style="display:none"><i class="fa fa-edit fa-fw">&nbsp;</i>Update</button>
                        <button type="button" class="btn btn-warning" id="cancelPerson"><i class="fa fa-times">&nbsp;</i>Cancel</button>
                    </div>
                </div>
            </div>
            <!-- Recorded Person --> 
            <div id="recordedPersonForm" class="row col-xs-12">
                <div class="form-group col-md-12">
                    <label>Person</label>
                    <input type="text" class="form-control" placeholder="Person" id="personTypeahead" data-person/>
                </div><!-- /input-group -->
                <div class="form-group col-md-12">
                    <label>Function</label>
                    <input type="text" class="form-control" name="function" placeholder="function"/>
                </div>
                <div class="form-group pull-right">
                    <button class="btn btn-info hide" type="button" id="modifyPerson"><i class="fa fa-edit fa-fw"></i>modify</button>
                    <button class="btn btn-success" type="button" id="addRecordedPerson"><i class="fa fa-plus fa-fw"></i>add</button>
                </div>
            </div>
            <br/>
            <div class="form-group col-xs-12 row" id="orgPerson" data-objectIds='[]'>
            </div>
        </form>
        <button type="button" class="btn btn-primary" id="orgPersonSubmit">Done</button>
    </div>
</div>

<script>
    //show the orgPersonForm
    $(document).on('click', '[name="manageUsers"]', function(){
        var orgUnitId = $(this).closest('span[data-orgUnitid]').attr("data-orgUnitId");
        var title = $(this).attr("data-title");

        $.ajax({
            url: "/organization/adminOrgTree/getOrgUnitPersons/"+orgUnitId,
            type: "GET",
            dataType: 'json',
            success: function(response) {
                $('#orgPerson').data('objectIds', []).html("");

                var formObject = {
                    orgUnitId:orgUnitId
                }
                loadForm(formObject, 'orgPersonForm', title);

                $.each(response, function(){
                    addOrgPerson(this.displayName, this.objectId, this.objectClass, this['function'], this.personPositionId);
                })
                console.log(response);
            }
        })
    })

    //quit the orgPersonForm
    $(document).on('click', '#orgPersonSubmit', function(){
        $('#orgPersonForm').css('display', 'none');
        reloadTree();
    });

    //add an existin person
    $(document).on('click', '#addRecordedPerson', function(){
        var suggestion = $('#personTypeahead').data('person');
        position={
            orgUnitId:$('#orgPersonForm [name="orgUnitId"]').val(),
            objectId:suggestion.objectId,
            'function':$('#recordedPersonForm [name="function"]').val(),
            objectClass:suggestion.objectClass,
            displayName:suggestion.displayName
        }
        console.log(position);
        addPersonPosition(position, suggestion);
    });

    //add a new orgPerson
    $(document).on('click', '#submitOrgPerson', function(){
        var objectId = false;
        var orgPerson = serialize('newPersonForm');
        orgPerson.picture = $('#personPicture').data('base64');

        $.ajax({
            url: "/organization/adminOrgTree/addOrgPerson",
            type: "POST",
            data: JSON.stringify(orgPerson),
            dataType: 'json',
            contentType: 'application/json',
            success: function(response) {
                console.log(response);
                requestResult(response.message, response.status);
                objectId = response.id;
                if(objectId) {
                    position={
                        orgUnitId:$('#orgPersonForm [name="orgUnitId"]').val(),
                        objectId:objectId,
                        'function':$('#recordedPersonForm [name="function"]').val(),
                        objectClass:"organization/orgPerson",
                        displayName:orgPerson.displayName
                    }
                console.log(position);
                    addPersonPosition(position, orgPerson);
                }
                resetNewPersonFrom();
            },
            error: function(response) {
                requestResult(response.message, response.status);
                status = false;
            }
        });
    });

 //reset the orgPerson form
    $(document).on('click', '#cancelPerson', function() {
        $('[name="personFormSwitch"][value="recorded"]').click();
        resetNewPersonFrom();
    })

 //modify an orgPerson
    $(document).on('click', '#submitModifyPerson', function(){
        var orgPerson = serialize('newPersonForm');
        orgPerson.picture = $('#personPicture').data('base64');

        $.ajax({
            url: "/organization/adminOrgTree/modifyOrgPerson",
            type: "PUT",
            data: JSON.stringify(orgPerson),
            dataType: 'json',
            contentType: 'application/json',
            success: function(response) {
                requestResult(response.message, response.status);
                $('#position_'+orgPerson.orgPersonId).val(orgPerson.displayName);
                resetNewPersonFrom();
            },
            error: function(response) {
                requestResult(response.message, response.status);
            }
        });
    });

    //Form switch
    $(document).on('change', '[name="personFormSwitch"]', function(){
            if($(this).val()=='recorded'){
                $('#newPersonForm').css('display', 'none');
                $('#recordedPersonForm').css('display', '');
            }
            else{
                $('#newPersonForm').css('display', '');
                $('#recordedPersonForm').css('display', 'none');
            }
        });

    //Person picture
    $(document).on('click', '#personPicture', function(){
        $('#newPersonForm [name="personPicture"]').click();
    });

    $(document).on('change', '[name="personPicture"]', function() {    
        oFile = $(this).context.files[0];
        oFileReader = new FileReader();
        oFileReader.readAsDataURL(oFile);
        oFileReader.onload = function() {
            if(oFileReader.result.substr(0, 10) != 'data:image') {
                requestResult("Selected file is not a valid image file", false);
            } else if(oFile.size > 100 * 1024) {
                requestResult("The image is too large.", false);
            } else {
                $('#personPicture').attr('src', oFileReader.result);
                $('#personPicture').data('base64', oFileReader.result);
            }
        }
    });

    $(document).on('click', '#resetPersonImage', function(){
        $('#personPicture').attr('src', '/public/bundle/contact/img/contact.png');
        $('#personPicture').data('base64', "");
    });

    //display name
    $(document).on('change', '#newPersonForm [name="firstName"], #newPersonForm [name="lastName"]', function(){
        var firstName = $('#newPersonForm [name="firstName"]').val();
        var lastName = $('#newPersonForm [name="lastName"]').val();

        var list="";
        var defaultName="";

        if(firstName == "" && lastName ==""){
        }
        else if(firstName != "" && lastName != ""){
            list += '<li><a href="#" class="nameSelection">'+firstName+' '+lastName+'</a></li>';
            list += '<li><a href="#" class="nameSelection">'+lastName+' '+firstName+'</a></li>';
            defaultName = firstName+' '+lastName;
        }
        else{
            list += '<li><a href="#">'+firstName+lastName+'</a></li>';
            defaultName = firstName+lastName;
        }
        $("#personDisplayNameList").html(list);
        $('#newPersonForm [name="displayName"]').val(defaultName);
    });

    $(document).on('click', ".nameSelection", function(){
        $('#newPersonForm [name="displayName"]').val($(this).html());
    });

    $(document).ready(function() {

        /*
            #personTypeahead 
                data source is a server-side query. results are filtered against the list of previously selected objectIds
                the input will display displayName and store the objectId (as a select)
                The button will use the objectId and append a new list item for selected person, and add objectId to the property

            #orgPerson
                the ul/li list is filled with previously linked persons
                the 'objectIds' property is an array of objectIds 
        */

        // Define data source for person typeahead
        var personsSource = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('displayName'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/organization/adminOrgTree/queryPersons/%QUERY',
                ajax : {
                    async: false
                }
            },
            limit: 100
        });
        personsSource.initialize();

        // initialize typeahead
        $('#personTypeahead').typeahead(
            {
                hint: true,
                highlight: true,
                minLength: 3
            }, 
            // data source contacts
            {
                name: 'persons',
                displayKey: 'displayName',
                templates: {
                    empty: function() {
                        return "<span class='well well-sm'>No person found</span>";
                    },
                    suggestion: function(person) {
                        var display = 
                            "<span>"
                                + "<span class='fa fa-user' >&nbsp;</span>"
                                + "<span style='font-family:Helvetica, sans-serif;'>" 
                                + person.displayName;
                        display += 
                                "</span>";
                        display += 
                            "</span>";

                        return display;
                    }
                },
                source: function(query, cb) {
                    personsSource.get(query, function(suggestions) {
                        var i = suggestions.length
                        while (i--) {
                            if($.inArray(suggestions[i].objectId, $('#orgPerson').data('objectIds')) > -1) 
                                suggestions.splice(i, 1);
                        }
                        cb(suggestions);
                    });
                },
                skipCache: true
            }
        ).on('typeahead:selected', function($event, suggestion, source) {
            $("#personTypeahead").data('person', suggestion);
        });
    }); // end document.ready

    function addPersonPosition(position, person){
        $.ajax({
            url: "/organization/adminOrgTree/addPersonPosition",
            type: "POST",
            data: JSON.stringify(position),
            dataType: 'json',
            contentType: 'application/json',
            success: function(response) {
                requestResult(response.message, response.status);
                addOrgPerson(person.displayName, position.objectId, position.objectClass, position['function'], response.positionId);
            },
            error: function(response) {
                requestResult(response.responseText, false);
            }
        })
        $("#personTypeahead").prop('person', null).val("");
    }

    function addOrgPerson(personName, objectId, objectClass, personFunction, positionId) {
        var value = personName;
        if(personFunction) {
            value += " ("+personFunction+")";
        }

        var orgPerson = $('#orgPerson');
        var objectIds = orgPerson.data('objectIds');
        objectIds.push(objectId);
        orgPerson.data('person', objectIds);

        var inputGroup = $('<div/>')
            .addClass('input-group')
            .appendTo(orgPerson);
        
        var input = $('<input/>')
            .addClass('form-control')
            .attr('id', 'position_'+objectId)
            .attr('type', 'text')
            .attr('name', 'displayName')
            .prop('disabled', true)
            .val(value)
            .appendTo(inputGroup);

        var inputGrpBtn = $('<span/>')
            .addClass('input-group-btn')
            .appendTo(inputGroup);

        if(objectClass=='organization/orgPerson'){
            var btn = $('<button/>')
            .addClass('btn btn-info')                   
            .attr('type', 'button')
            .attr('data-objectid', objectId)
            .html("&nbsp;")
            .appendTo(inputGrpBtn)
            .on('click', function() {
                var objectId = $(this).data('objectid');
                editOrgPerson(objectId);
            });

            var icon = $('<i/>')
                .addClass('fa fa-edit')
                .prependTo(btn);
        }

        var btn = $('<button/>')
            .addClass('btn btn-danger')                   
            .attr('data-positionId',positionId)
            .attr('data-objectId', objectId)
            .attr('type', 'button')
            .html("&nbsp;")
            .on('click', function() {
                var inputGroup = $(this).closest('.input-group');
                var positionId = $(this).attr('data-positionId');
                var objectId = $(this).attr('data-objectId');
                var positionIds = $('#orgPerson').data('objectIds');

                removePersonPosition(positionId);
                positionIds = jQuery.grep(positionIds, function(value) {
                      return value != objectId;
                });
                orgPerson.data('person', objectIds);
                inputGroup.remove();
            })
            .appendTo(inputGrpBtn);

        var icon = $('<i/>')
            .addClass('fa fa-trash-o fa-fw')
            .prependTo(btn);
    }

    function removePersonPosition(positionId) {
        $.ajax({
            url: "/organization/adminOrgTree/deletePersonPosition/"+positionId,
            type: "DELETE",
            dataType: 'json',
            success: function(response) {
                requestResult(response.message, response.status);
            },
            error: function(response) {
                requestResult(response.responseText, false);
            }
        });
    }

    function resetNewPersonFrom() {
        $('#personPicture').attr('src', "/public/bundle/contact/img/contact.png");
        $('#function').val('');
        $.ajax({
            url: "/organization/adminOrgTree/newOrgPerson",
            type: "GET",
            dataType: 'json',
            contentType: 'application/json',
            success: function(response) {
                loadObject(response.result, 'newPersonForm')
                $('#resetPersonImage').click();
                $('#submitOrgPerson').css('display', '');
                $('#submitModifyPerson').css('display', 'none');
                $('#newPersonForm').css('display', 'none');
                $('#recordedPersonForm').css('display', '');
            },
            error: function(response) {
                requestResult(response.responseText, false);
            }
        });
    }

    function editOrgPerson(objectId) {
        $.ajax({
            url: "/organization/adminOrgTree/editOrgPerson/"+objectId,
            type: "GET",
            dataType: 'json',
            contentType: 'application/json',
            success: function(response) {
                console.log(response);
                if (response.status == true) {

                    loadObject(response.result, 'newPersonForm');
                    if(response.result.picture != null){
                        $('#personPicture').data('base64', response.result.picture);
                        $('#personPicture').attr('src', response.result.picture);
                    }
                    else {
                        $('#personPicture').attr('src', '/public/bundle/contact/img/contact.png');
                        $('#personPicture').data('base64', "");
                    }

                    $('[name="personFormSwitch"][value="recorded"]').click();
                    $('#newPersonForm').css('display', '');
                    $('#recordedPersonForm').css('display', 'none');

                
                    $('#submitModifyPerson').css('display', '');
                    $('#submitOrgPerson').css('display', 'none');
                } else {
                requestResult(response.responseText, false);
                }
            },
            error: function(response) {
                requestResult(response.responseText, false);
            }
        });
    }
    
</script>
