<!--#
    This file is part of the registeredMail package.
    (c) Maarch Alexis Ragot <alexis.ragot@maarch.org>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#-->
<div class="container-fluid" lang="en" data-translate-catalog="organization/messages">
    <div class="page-header">
        <h1>
            <i class="fa fa-sitemap"></i>
            Organization
        </h1>
    </div>
</div>

<div class="container-fluid" lang="en" data-translate-catalog="organization/messages">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-6" >
            <div class="panel panel-primary">
                <div class="panel-heading clearfix">
                    <div class="pull-left">
                        <h4 >Organization tree</h4>
                    </div>
                    <div class="pull-right">
                        <h4>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                <span class="fa fa-bars"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation"><a role="menuitem" id="newOrganization" tabindex="-1" href="#">
                                    <span class="fa fa-building">&nbsp;</span>New organization</a>
                                </li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation"><a role="menuitem" id='hidePersonLeaf' tabindex="-1" href="#">
                                    <span class="fa fa-user">&nbsp;</span>Hide persons</a>
                                </li>
                                <li role="presentation"><a role="menuitem" id='showPersonLeaf' tabindex="-1" href="#" style="display:none">
                                    <span class="fa fa-user">&nbsp;</span>Show persons</a>
                                </li>
                            </ul>
                        </div>
                        </h4>
                    </div>
                    
                </div>
                <div class="panel-body" >
                    <div class="dataTree panel-group tree">
                        <!-- Organization tree goes here -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-6" id="formContainer"> 
            <!-- Organization form -->
            <?hinclude organization/view/organizationForm.html ?>
            <!-- Organization Unit form -->
            <?hinclude organization/view/orgUnitForm.html ?>
            <!-- Organization Unit move form -->
            <?hinclude organization/view/orgUnitMoveForm.html ?>
            <!-- Organization Unit users form -->
            <?hinclude organization/view/orgPersonForm.html ?>
        </div>
    </div>
    <!-- modals for delete confirmation -->
    <?hinclude organization/view/modals.html ?>
</div>


<script src="/public/dependency/html/js/bootstrap-tree/bootstrap-tree.js"></script>

<script>
    $(document).ready(function() {
        initTree();

        $("#hidePersonLeaf").on('click', function(){
            $(".personLeaf").addClass('hideTreeElement').css('display', 'none');
            $(this).css('display', 'none');
            $('#showPersonLeaf').css('display', '');
        });

        $("#showPersonLeaf").on('click', function(){
            $(".personLeaf").removeClass('hideTreeElement')
            $(".tree").find('[title="openedNode"]').next('ul').children(".personLeaf").css('display', '');
            $(this).css('display', 'none');
            $('#hidePersonLeaf').css('display', '');
        });
    });

    function loadForm(object, formId, subTitle) {
        subTitle = subTitle || "";
        var form = $('#'+formId);

        //set the form subtitle
        form.find('small').html(subTitle);

        loadObject(object, formId);

        //show the form
        $("#formContainer .dataForm:visible").css('display', 'none');
        form.css('display', '');
    }

    function loadObject(object, formId){
        var form = $('#'+formId);

        //reset the form
        form.find('input[type="text"]').val("").removeAttr('disabled');
        form.find('img').attr('src', '/public/bundle/contact/img/contact.png');

        //load object in the form
        $.each(object, function(key, value){
            $('#'+formId).find('[name="'+key+'"]:first').val(value);
        })
        
        if(formId == "organizationForm") {
            form.find("input[type='checkbox']").prop("checked", false);
            if (object.orgRoleCode != null) {
                var checked = Array();
                checked = object.orgRoleCode.split(" ");
                for(var i=0; i<checked.length; i++) {
                    form.find("[value='"+checked[i]+"']").prop("checked", true);
                }
            }
        }
    }

    function reloadTree() {
        $.ajax({
            url: "/organization/adminOrgTree/getTree",
            type: "GET",
            dataType: 'html',
            success: function(response) {
                $('.dataTree').html(response);
                initTree();
            },
            error: function(response) {
                requestResult(response.responseText, false);
            }
        })
    }

    function serialize(formId) {
        jsonObject = {};

        $('#'+formId).find('input[type="text"], input[type="date"], input[type="hidden"], select').each(function(){
            var value = $(this).val();
            jsonObject[$(this).attr('name')]=value;
        })

        $('#'+formId+' input[type="file"]').each(function(){
            var value = $(this).attr('data-base64');
            jsonObject[$(this).attr('name')]=value;
        })
        console.log(jsonObject);
        return jsonObject;
    }

    function requestResult(message, status) {
        $('.btn').removeProp('disabled');

        var class_name = "gritter-danger";
        if (status) {
            class_name = "gritter-primary";
        }
        $.gritter.add({
            text: message,
            class_name: class_name
        });
    }
 
</script>
