<li lang="en" data-translate-catalog="organization/messages">
    <span class="node" data-orgId="[?merge .ownerOrgId ?]" data-orgUnitId="[?merge .orgUnitId?]" data-orgUnitName="[?merge .orgUnitName?]" data-ownerOrgName="[?merge .orgName?]" data-displayName="[?merge .displayName?]">
        <i class="fa">&nbsp;</i><?merge .displayName?>&nbsp;&nbsp;
        <div class="dropdown btn-group" style="display:inline">
            <i class="dropdown-toggle" data-toggle="dropdown">
                &nbsp;<i class="menu fa fa-bars" style="cursor:pointer">&nbsp;</i>
            </i>
            <ul class="dropdown-menu" role="menu">
                <li name="modifyOrgUnit" data-title="[?merge .displayName?]"><a href="#"><i class="fa fa-edit">&nbsp;</i>Update</a></li>
                <li name="addOrgUnit" data-title="Parent : [?merge .displayName?]"><a href="#"><i class="fa fa-plus">&nbsp;</i>Add child organization unit</a></li>
                <li name="moveOrgUnit" data-title="[?merge .displayName?]"><a href="#"><i class="fa fa-share">&nbsp;</i>Move</a></li>
                <li name="manageUsers" data-title="[?merge .displayName?]"><a href="#"><i class="fa fa-users">&nbsp;</i>Manage members</a></li>
                <li name="deleteOrgUnit"><a href="#"><i class="fa fa-trash-o">&nbsp;</i>Delete organization unit</a></li>
            </ul>
        </div>
    </span>
</li>