 <div class="panel panel-default dataForm" style="display:none;" data-form-ns="orgUnit" id="orgUnitMoveForm">
    <div class="panel-heading">
        <h4>Move organization unit <small></small></h4>
    </div>
    <div class="panel-body">
        <form>
            <input type="hidden" name="orgUnitId">
            <input type="hidden" name="newOwnerOrgId">
            <div class="form-group">
                <label>New organization unit parent</label>
                <select class="form-control" name="newParentOrgUnitId">
                </select>
            </div>
        </form>
        <button type="button" class="btn btn-success" id="submitOrgUnitMove">Move</button>
        <button type="button" class="btn btn-warning" id="cancelOrgUnitMove">Cancel</button>
    </div>
</div>

<script>
    
    //cancel
    $(document).on('click', "#cancelOrgUnitMove", function() {
        $('#orgUnitMoveForm').css('display', 'none');
    });

    $(document).on('click', "[name='moveOrgUnit']", function() {
        var orgUnitId = $(this).closest('[data-orgUnitId]').attr('data-orgUnitId');
        var title = $(this).attr("data-title");
        var select = $("select[name='newParentOrgUnitId']").empty();

        $.ajax({
            url: "/organization/adminOrgTree/getElementsForMove/"+orgUnitId,
            type: "GET",
            dataType: 'json',
            success: function(response) {
                console.log(response);
                $.each(response.organization, function(){
                    var option = $('<option/>')
                                    .val("")
                                    .html($(this)[0].displayName)
                                    .attr('data-ownerOrgId', $(this)[0].orgId)
                                    .appendTo(select);
                })

                $.each(response.orgUnit, function(){
                    var option = $('<option/>')
                                    .val($(this)[0].orgUnitId)
                                    .html($(this)[0].displayName)
                                    .attr('data-ownerOrgId', $(this)[0].ownerOrgId)
                                    .appendTo(select);
                })

                formObject = {
                    'orgUnitId':orgUnitId
                };
                loadForm(formObject, 'orgUnitMoveForm', title);

                var ownerOrgId = select.find('option:selected').attr('data-ownerOrgId');
                $('#orgUnitMoveForm').find('[name="newOwnerOrgId"]').val(ownerOrgId);
            },
            error : function(response) {
                requestResult(response.responseText, false);
            }
        })
    });

 //selection of a new parent
    $(document).on('change', 'select[name="newParentOrgUnitId"]', function(){
        var ownerOrgId = $(this).find('option:selected').attr('data-ownerOrgId');
        $('#orgUnitMoveForm').find('[name="newOwnerOrgId"]').val(ownerOrgId);
    })

    // Validate OrgUnit Form
    $(document).on('click', "#submitOrgUnitMove", function(){
        $('button').prop('disabled', true);

         $.ajax({
            url: "/organization/adminOrgTree/moveOrgUnit",
            type: "PUT",
            data: JSON.stringify(serialize('orgUnitMoveForm')),
            contentType: 'application/json',
            dataType: 'json',
            success: function(response) {
                requestResult(response.message, response.status);
                $('#orgUnitMoveForm').css('display', 'none');
                reloadTree();
            },
            error: function(response) {
                requestResult(response.responseText, false);
            }
        })
    });

</script>
