 <div class="panel panel-default dataForm" style="display:none;" data-form-ns="orgUnit" id="orgUnitForm">
    <div class="panel-heading">
        <h4>Organization unit <small></small></h4>
    </div>
    <div class="panel-body">
        <form>
            <input type="hidden" name="orgUnitId">
            <input type="hidden" name="ownerOrgId">
            <input type="hidden" name="parentOrgUnitId">

            <div class="form-group">
                <label for="orgUnitName">Organization unit name</label>
                <input type="text" class="form-control" name="orgUnitName" placeholder="Organization unit name">
            </div>
            <div class="form-group">
                <label for="displayName">Display name</label>
                <input type="text" class="form-control" name="displayName" placeholder="Display name">
            </div>
            <div class="form-group">
                <label for="orgUnitType">Organization unit type</label>
                <select class="form-control" name="orgUnitTypeCode" >
                    <?merge orgUnitType ?>
                    <option value="[?merge .orgUnitTypeCode ?]" ><?merge .orgUnitTypeName ?></option>
                </select>
            </div>
        </form>
        <button type="button" class="btn btn-success" id="submitOrgUnit">Save</button>
        <button type="button" class="btn btn-warning" id="cancelOrgUnit">Cancel</button>
    </div>
</div>

<script>

    // Display add org unit form
    $(document).on('click', "[name='addOrgUnit']", function() {
        var ownerOrgId = $(this).closest('span[data-orgId]').attr("data-orgId");
        var parentOrgUnitId = $(this).closest('span[data-orgUnitId]').attr("data-orgUnitId");
        var title = $(this).attr("data-title");
        $.ajax({
            url: "/organization/adminOrgTree/newOrgUnit",
            type: "GET",
            dataType: 'json',
            success: function(response) {
                if(response.ownerOrgId == null) {
                    response.ownerOrgId = ownerOrgId;
                    response.parentOrgUnitId = parentOrgUnitId;
                }
                loadForm(response, 'orgUnitForm', title);
            }
        })
    });

    //cancel
    $(document).on('click', "#cancelOrgUnit", function(){
        $('#orgUnitForm').css('display', 'none');
    })

    //add or modify an orgUnit
    $(document).on('click', "#submitOrgUnit", function(){
        $('button').prop('disabled', true);

        var action = "/organization/adminOrgTree/addOrgUnit";
        var method = "POST";

        if($('#orgUnitForm [name="orgUnitId"]').val()) {
            action = "/organization/adminOrgTree/modifyOrgUnit";
            method = "PUT";
        }

         $.ajax({
            url: action,
            type: method,
            data: JSON.stringify(serialize('orgUnitForm')),
            contentType: 'application/json',
            dataType: 'json',
            success: function(response) {
                requestResult(response.message, response.status);
                if(response.status) {
                    $('#orgUnitForm').css('display', 'none');
                    reloadTree();
                }
            },
            error: function(response) {
                requestResult(response.responseText, false);
            }
        })
    });

    //edit an organization
    $(document).on('click', "[name='modifyOrgUnit']", function(){
        var orgUnitId = $(this).closest('span').attr("data-orgUnitId");
        var title = $(this).attr("data-title");
        $.ajax({
            url: "/organization/adminOrgTree/editOrgUnit/"+orgUnitId,
            type: "GET",
            contentType: 'application/json',
            dataType: 'json',
            success: function(response) {
                loadForm(response, 'orgUnitForm', title);
            },
            error: function(response) {
                requestResult(response.responseText, false);
            }
        })
    });

    //delete an orgUnit
    $(document).on("click", "[name='deleteOrgUnit']", function(){
        var orgUnitId = $(this).closest('span[data-orgUnitId]').attr("data-orgUnitId");
        $('#confirmOrgUnitDelete').attr('data-orgUnitId', orgUnitId);
        $('#orgUnitConfirmDelete').modal('show');
    });
        
</script>
