<!--
  metas
-->
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="shortcut icon" type="image/x-icon" href="/public/app/pomoboard/img/favicon.ico" />
<!--
  stylesheets
-->
<link rel="stylesheet" href="/public/app/pomoboard/css/style.css" />
<link href="/public/app/pomoboard/css/style_weather.css" rel="stylesheet" type="text/css">
<link href="/public/dependency/html/css/flipclock/flipclock.css" rel="stylesheet" type="text/css">

<!--link rel="stylesheet/less" type="text/css" href="/public/app/pomoboard/less/dashboard/style.less" /-->

<!--
  javascripts
-->
<!--jqueryui-->
<!-- script src="/public/dependency/html/js/jQueryUI_1.10.4/jqueryUI.js"></script -->
<!--less-->
<script>
    //less = {
    //    env: "development",
    //};
</script>
