<div id="wrapper" lang="fr" >
    <?hinclude app/pomoboard/view/dashboard/navbar.html ?>
    <div id="sidebar-wrapper" data-spy="affix" data-offset-top="0" data-offset-bottom="1000">
        <?hinclude app/pomoboard/view/dashboard/sidebar.html ?>
    </div>
    <div id="page-wrapper" style="padding-bottom: 50px;">
        <section role="main">
            <button type="button" class="btn btn-primary" style="position: absolute; margin-top: 3px; margin-left: -12px;" id="showSidebar" data-action="true">
                <i class="fa fa-angle-double-right fa-lg pull-right"></i>
            </button>
        </section>
    </div>
    <!--?hinclude registeredMail/view/dashboard/footer.html ?-->
</div>
