<nav class="navbar navbar-default navbar-fixed-top" role="navigation" data-translate-catalog translate="no" data-translate-context="layout">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img class="img-responsive pull-left" style="max-width:32px; max-height:32px;" src="/public/app/pomoboard/img/logo.png" />
                &nbsp; 
                <span style='font-family:electrolize;'>
                    <span style='font-size:32px; font-weight:bold;'>Pomoboard </span>
                </span>
            </a>
            
        </div>
        <ul class="nav navbar-nav navbar-right hidden-xs">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <?merge .user.displayName.ifeq('')?><div><i class="fa fa-user fa-fw">&nbsp;</i><?merge .user.userName ?>&nbsp;&nbsp;<i class="fa fa-caret-down"></i></div>
                    <?merge .user.displayName.ifne('')?><div><i class="fa fa-user fa-fw">&nbsp;</i><?merge .user.displayName ?>&nbsp;&nbsp;<i class="fa fa-caret-down"></i></div>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <!--li>
                        <a href="#" data-current-userId="[?merge $_SESSION['user']['user'].userId?]" translate="yes">
                            <i class="fa fa-user fa-fw"></i> Profile
                        </a>
                    </li-->
                    <!--li>
                        <a href="#">
                            <i class="fa fa-gear fa-fw"></i> Param&egrave;tres
                        </a>
                    </li-->
                    <!--li class="divider"></li-->
                    <li>
                        <a href="/user/logout" translate="yes">
                            <i class="fa fa-sign-out fa-fw"></i> D&eacute;connexion
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<script>
    $(document).ready(function() {
        $('#side-menu').metisMenu();
        
        // sidebar
        $(window).bind("load resize", function() {
            $('#page-wrapper').css('min-height', $(window).height() - 50);
            if ($(this).width() < 768) {
                $('div.sidebar-collapse').addClass('collapse');
            } else {
                $('div.sidebar-collapse').removeClass('collapse');
            }
        });
        
        $('#showSidebar').fadeOut(0);
        
        $('[name="selectOrgUnit"]').on('click', function() {
            var orgUnitId = $(this).attr('data-orgUnitId');

            $('[name="currentOrgUnit"]').text($(this).find('[name="selectedOrgUnit"]').first().text());
            $.ajax({
                type: "PUT",
                url: "/organization/currentPosition",
                data: {
                    orgUnitId : orgUnitId
                },
                dataType: 'json',
                async: false
            });
        });
        
        $('[data-current-userId]').on('click', function() {
            window.location.href = "/userInfo/edit/"+$(this).attr('data-current-userId');
        });
    });
    $(document).on("click",'#hideSidebar', function () {
        $("#sidebar-wrapper").fadeOut(200, function () {
            $("#page-wrapper").animate({marginLeft: '0px'}, 250, function() {        
                $('#showSidebar').fadeIn();
            });
        });
    });
    
    $(document).on("click",'#showSidebar', function () {
            $('#showSidebar').fadeOut(); 
            $("#page-wrapper").animate({marginLeft: '250px'}, 250, function() {
                $("#sidebar-wrapper").fadeIn();
            });
            
            
    });

    //Haut, haut, bas, bas, gauche, droite, gauche, droite, B, A
    var k = [38, 38, 40, 40, 37, 39, 37, 39, 66, 65];
    var n = 0;
    $(document).keydown(function (e) {
        if (e.keyCode === k[n++]) {
            if (n === k.length) {
                location.href= "http://9gag.com"; // à remplacer par votre code
                return !1;
            }
        } else k = 0;
    });

</script>