<!--#
    This file is part of the organization package.
    (c) Maarch Alexis Ragot <alexis.ragot@maarch.org>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#-->

<div class="container-fluid" data-translate-catalog="organization/messages">
    <div class="page-header">
        <h1>
            <i class="fa fa-list-ul"></i>
            <?merge orgUnitType.orgUnitTypeCode.bool() ?> <span>Edit an organization unit type</span>
            <?merge orgUnitType.orgUnitTypeCode.bool().not() ?> <span>Create an organization unit type</span>
        </h1>
    </div>
</div>

<div class="container-fluid" data-translate-catalog="organization/messages">
    <div class="row">
        <div class="col-lg-4 col-xs-12 dataForm" data-form-ns="orgUnitType">
            <?merge orgUnitType ?>
            <form>
                <div class="form-group">
                    <label class="control-label">Code</label>
                    <?merge orgUnitType.orgUnitTypeCode.bool() @readonly?>
                    <input type="text" class="form-control" name="orgUnitTypeCode" value="" data-input-orgUnitTypeCode maxlength="30"/>
                    <?merge orgUnitType.orgUnitTypeCode.bool().not() ?>
                    <span class="help-block">The first and last character must be a letter. You must use only letters and the special character '_'</span>
                </div>
                <div class="form-group">
                    <label class="control-label">Organization unit type name</label>
                    <input type="text" class="form-control" name="orgUnitTypeName" value=""/>
                </div>
                <div class="form-group">
                    <?merge orgUnitType.orgUnitTypeCode.bool().not() ?>
                    <button type="button" class="btn btn-primary btn-block" data-form-submit='create'>Save</button>
                    <?merge orgUnitType.orgUnitTypeCode.bool() ?>
                    <button type="button" class="btn btn-primary btn-block" data-form-submit='update'>Modify</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="application/javascript">
    $(document).ready(function() {
        $("[data-input-orgUnitTypeCode]").on("keyup", function(){
            var patt = new RegExp("^[a-zA-Z]+([_]?[a-zA-Z]+)+$");
            if(patt.test($("[data-input-orgUnitTypeCode]").val())){
                $("[data-input-orgUnitTypeCode]").parent().removeClass('has-error');
                $("[data-input-orgUnitTypeCode]").parent().addClass('has-success');
            } else {
                $("[data-input-orgUnitTypeCode]").parent().removeClass('has-success');
                $("[data-input-orgUnitTypeCode]").parent().addClass('has-error');
            }
        });
        
        $(".dataForm").dataForm();
        $("[data-form-submit]").on("click", function(){
            var $dataForm = $(this).closest('.dataForm');
            var data = $dataForm.data().dataForm.serialize();

            var mode = $("[data-form-submit]").attr('data-form-submit');
            if (mode == 'create') {
                var url = '/organization/adminOrgUnitType/addOrgUnitType';
                var method = 'POST'
            }
            if (mode == 'update') {
                var url = '/organization/adminOrgUnitType/modifyOrgUnitType';
                var method = 'PUT'
            }
            
            console.log(data.orgUnitType);
            $.ajax({
                type: method,
                url: url,
                data: JSON.stringify(data.orgUnitType),
                contentType: 'application/json',
                dataType: 'json',
                success: function(response) {
                    if (response.status == true) {
                        $.gritter.add({
                            text: response.message,
                            class_name: "gritter-primary"
                        });
                        location.href = '/organization/adminOrgUnitType/index';
                    } else {
                        $.gritter.add({
                            text: response.message,
                            class_name: "gritter-danger"
                        });
                        for(var i=0; i<response.errors.length; i++) {
                            $.gritter.add({
                                text: data.errors[i],
                                class_name: "gritter-danger"
                            });
                        }
                    }
                }
            });
        });
    });
</script>