<!--#
    This file is part of the organization package.
    (c) Maarch Alexis Ragot <alexis.ragot@maarch.org>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#-->

<div class="container-fluid" data-translate-catalog="organization/messages">
    <div class="page-header">
        <h1>
            <i class="fa fa-list-ul"></i>
            Organization unit types
        </h1>
    </div>
</div>

<div class="container-fluid" data-translate-catalog="organization/messages">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading clearfix">
                    <div class="pull-left">
                        <h4><?merge orgUnitTypes.count() ?> organization unit type(s)</h4>
                    </div>
                    <div class="pull-right btn-group">
                        <button type="button" class="btn btn-default" data-add-orgUnitType><i class="fa fa-plus fa-fw"></i>Add</button>
                    </div>
                </div>
                <div class="panel-body" style="padding: 0;">
                    <table class="table dataTable">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Description</th>
                                <th width="1%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?merge orgUnitTypes ?>
                            <tr>
                                <td><?merge .orgUnitTypeCode ?></td>  
                                <td><?merge .orgUnitTypeName ?></td>
                                <td>
                                    <a href="#" class="btn btn-warning" data-modify-orgUnitType="[?merge .orgUnitTypeCode ?]">
                                        <span class="fa fa-fw fa-edit"></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="application/javascript">
    $(document).ready(function() {
        $("[data-add-orgUnitType]").on("click", function(){
            location.href = "/organization/adminOrgUnitType/newOrgUnitType";
        });
        
        $("[data-modify-orgUnitType]").on("click", function(){
            location.href = "/organization/adminOrgUnitType/editOrgUnitType/"+$(this).attr("data-modify-orgUnitType");
        });
    });
</script>