<div class="container-fluid" data-translate-catalog="audit/messages">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">
                Audit entries
            </h1>
        </div>
    </div>
</div>
<div class="container-fluid" data-translate-catalog="audit/messages">
    <?hinclude audit/view/entriesTable.html ?>
    <?hinclude audit/view/entriesDescription.html ?>
</div>
