<div class="row">
    <div class="col-xs-12">
        <div class="panel well">
            <div class="row">
                <div class="col-xs-6">
                    <p>Date : <span id="audit_entryDate"></span></p>
                    <p>Type : <span id="audit_entryType"></span></p>
                </div>
                <div class="col-xs-6">
                    <p>User : <span id="audit_userName"></span></p>
                </div>
                <div class="col-xs-12">
                    <p>Message : <span id="audit_message"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>