
<div class="row" data-translate-catalog="audit/messages">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading clearfix">
                <div class="pull-left">
                    <h4><?merge entries.count() ?> result(s)</h4>
                </div>
            </div>
            <div class="panel-body" style="padding: 0;">
                <table id="list" class="table dataTable">
                    <thead>
                        <tr>
                            <th class="date">Entry date</th>
                            <th class="type">Entry type</th>
                            <th class="user">User</th>
                            <th class="objectClass">Object class</th>
                            <th class="objectIdentifier">Object identifier</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?merge entries ?>
                        <tr>
                            <td class="date"><?merge .entryDate ?></td>
                            <td class="type"><?merge .entryType ?></td>
                            <td class="user"><?merge .userName ?></td>
                            <td class="objectClass"><?merge .objectClass ?></td>
                            <td class="objectId"><?merge .objectId ?></td>
                            <td>
                                <a class="btn btn-warning pull-right viewEntry" data-message="[?merge .message ?]">
                                    <span class="fa fa-eye"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
