
<div class="container-fluid" data-translate-catalog="audit/messages">
    <div class="page-header">
        <h1>
            <i class="fa fa-search"></i>
            Audit search
        </h1>
    </div>
</div>

<div class="container-fluid" lang="en" data-translate-catalog="audit/messages">
     <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="cursor:pointer;">
                <h4 class="panel-title" style="float:left;">
                    Search form
                </h4>
                <i class="fa fa-caret-down" style="float:right;"></i>
                <div style="clear:both;"></div>
            </div>
            <div id="collapseOne" class="well panel-collapse collapse in" style="margin-bottom: 0px">
                <form class="form-horizontal">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="entryDateMin">Entry date to</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control datePicker" name="entryDateMin" id="entryDateMin" placeholder="Start date"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="entryDateMax">from</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control datePicker" name="entryDateMax" id="entryDateMax" placeholder="End date"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="entryType">Entry type</label>
                            <div class="col-sm-6">
                                <select class="form-control" name="entryType" id="entryType" >
                                    <option ></option>
                                    <?merge entryTypes ?>
                                    <option value="[?merge . ?]">[?merge . ?]</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="userIdAudit">User identifier</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="userIdAudit" id="userIdAudit" placeholder="User identifier"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="objectClass">Object class</label>
                            <div class="col-sm-6">
                                <select class="form-control" name="objectClass" id="objectClass" >
                                    <option ></option>
                                    <?merge objectClasses ?>
                                    <option value="[?merge . ?]">[?merge . ?]</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="objectId">Object identifier</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="objectId" id="objectId" placeholder="Object identifier"/>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <button type="button" class="btn btn-primary col-md-offset-4 col-md-4" id="search" data-form-submit title="Search"><i class="fa fa-search">&nbsp;</i>Search</button>
                        <button type="button" class="btn btn-warning col-md-offset-1" id="reset" data-form-reset title="Reset"><i class="fa fa-refresh">&nbsp;</i>Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="resultSearch"></div>
</div>

<div class="modal fade bs-example-modal-lg" id="viewModalInfo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="modalContainerInfo">
            <div class="container-fluid" data-translate-catalog="audit/messages">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="page-header">
                            Entry
                        </h1>
                    </div>
                </div>
            </div>
            <div class="container-fluid" data-translate-catalog="audit/messages">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel well">
                            <div class="row">
                                <div class="col-xs-6">
                                    <p>Date : <span id="audit_entryDate"></span></p>
                                    <p>Type : <span id="audit_entryType"></span></p>
                                    <p>User : <span id="audit_userName"></span></p>
                                </div>
                                <div class="col-xs-6">
                                    <p>Object class : <span id="audit_objectClass"></span></p>
                                    <p>Object identifier : <span id="audit_objectId"></span></p>
                                </div>
                                <div class="col-xs-12">
                                    <p>Message : <span id="audit_message"></span></p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).keypress(function(e){
        if (e.which != 13) {
             return;
        }
        // Prevent form submit
        e.preventDefault();
        $("#search").click();
    });
    
    $(document).ready(function() {
        $('#search').on('click', function(){
            $('#search').attr('disabled', '');
            
            $.ajax({
                type: 'GET',
                url: '/audit/search/result',
                data: $(this).closest('form').serialize(),
                dataType : 'html',
                contentType: 'application/json',
                async: true,
                success: function(response) {
                    $('#resultSearch').html('');
                    $('#resultSearch').append(response);
                }
            });
            $('#search').removeAttr('disabled');
        });
        
        $("#reset").on("click", function () {
            $(this).closest("form").find("input").val("");
            $("#resultSearch").html('');
        });
    });

    $(document).on('click', '.viewEntry', function(){
        tr = $(this).closest('tr');
        $('#audit_entryDate').html(tr.find('.date').html());
        $('#audit_entryType').html(tr.find('.type').html());
        $('#audit_userName').html(tr.find('.user').html());
        $('#audit_objectClass').html(tr.find('.objectClass').html());
        $('#audit_objectId').html(tr.find('.objectId').html());
        $('#audit_message').html($(this).data('message'));
        $('#viewModalInfo').modal();
    });
</script>

