<!--#
    This file is part of the registeredMail package.
    (c) Maarch Alexis Ragot <alexis.ragot@maarch.org>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#-->

<div class="container-fluid">
    <div class="page-header" data-translate-catalog="pomoboard/welcome">
        <h1>
            Pomoboard
        </h1>
    </div>
</div>
<div class="container-fluid form-horizontal" data-translate-catalog="pomoboard/welcome">
    <div class="well col-sm-6">
        <h1>Bienvenue <?merge user.displayName?></h1>
        <p>Bienvenue sur Pomoboard</p>       
        <br/>
    </div>
</div>
<script type="application/javascript">
</script>
