<div id="calendar-content">
    <div id="datepicker" ></div>
    <input type="hidden" id="my_hidden_input" />
    <textarea id="noteDate" class="form-control col-lg-12" rows="4" style="resize:none" placeholder="Inserez ici votre note !"></textarea>
    <button id="sendNote" class="btn btn-primary col-sm-12"><span class="fa fa-floppy-o">&nbsp;</span>Enregistrer</button>
</div>
<script>
    $('#datepicker').datepicker({
        language: 'fr',      
        dateFormat: 'dd-mm-yyyy'
    });
    
    $('#datepicker').datepicker("todayHighlight", true);
    
    $("#datepicker").on("changeDate", function(event) {
        $("#my_hidden_input").val(
            $("#datepicker").datepicker('getFormattedDate')
        )

        $("#noteDate").val("");

        if ($('#datepicker').datepicker("getFormattedDate") == "") {
            return;
        }

        var note = new Object();
        note.date = $('#datepicker').datepicker("getFormattedDate");
        //note.date = note.date.replace(/\//g, '-');

        $.ajax({
            async       : false,
            url         : "/calendar/getNote",
            type        : "PUT",
            data        : JSON.stringify(note),
            contentType : 'application/json',
            dataType    : 'json',
            success  : function(response){
                if (response.status) {
                    $("#noteDate").val(response.message);
                }
            }
        })
    });

    $("#sendNote").on("click", function() {
        if ($('#datepicker').datepicker("getFormattedDate") == "") {
            $.gritter.add({
                text: "Veuillez selectionner une date",
                class_name: "gritter-danger"
            });
            return;
        }
        
        var note = new Object();
        note.message = $("#noteDate").val();
        note.date = $('#datepicker').datepicker("getFormattedDate");

        $.ajax({
            async       : false,
            url         : "/calendar",
            type        : "POST",
            data        : JSON.stringify(note),
            contentType : 'application/json',
            dataType    : 'json',
            success  : function(response){
                if(response.status) {
                    $.gritter.add({
                        text: response.message,
                        class_name: "gritter-primary"
                    });
                }
            }
        })
    });
</script>