<div id="root" class="well">
    <div id="main">
        <div id="workContent">
            <h2>Temps de travail :</h2>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Minutes: </label>
                    <div class="col-sm-7">
                        <select id="workMinutes" class="form-control"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Secondes: </label>
                    <div class="col-sm-7">
                        <select id="workSeconds" class="form-control"></select>
                    </div>
                </div>
                <div class="ui-grid-a" id="workTimer"></div>
            </form>
        </div>

        <div id="breakContent">
            <h2>Temps de pause :</h2>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Minutes: </label>
                    <div class="col-sm-7">
                        <select id="breakMinutes" class="form-control"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Secondes: </label>
                    <div class="col-sm-7">
                        <select id="breakSeconds" class="form-control"></select>
                    </div>
                </div>
                <div class="ui-grid-a" id="workTimer"></div>
            </form>
            <div class="ui-grid-a" id="breakTimer"></div>
        </div>

        <button id="start" class='btn btn-success col-lg-3' value="Start"><span class="fa fa-play">&nbsp;</span>Start</button>
    </div>

    <div id="timer"> </div>

    <div class="clearfix">
        <button id="stop" class='btn btn-danger col-lg-3' value="stop"><span class="fa fa-stop">&nbsp;</span>Stop</button>
    </div>

</div>

<script type="text/javascript" >
$(document).ready(function(){
    var main = '#main';
    var timer = '#timer';
    var stop = '#stop';
    var workTimer = '#workTimer';
    var breakTimer = '#breakTimer';
    var workMinutes = '#workMinutes';
    var workSeconds = '#workSeconds';
    var breakMinutes = '#breakMinutes';
    var breakSeconds = '#breakSeconds';
    var minutesLeft;
    var secondsLeft;
    var timerIntervalId;
    var isWork = false;
    var time;
    var nbtour = 0;
    $(stop).hide();

    for(var i = 0; i <= 59; i++){
        var option = $("<option/>").val(i).text(i);
        $(workMinutes).append(option);
        $(workSeconds).append(option.clone());
        $(breakMinutes).append(option.clone());
        $(breakSeconds).append(option.clone());
    }

    $('#start').click(function(){
        time = {
            workMinutes: $(workMinutes).val(),
            workSeconds: $(workSeconds).val(),
            breakMinutes: $(breakMinutes).val(),
            breakSeconds: $(breakSeconds).val()
        };

        nbtour = 0;
        initializeTimer();
        timerIntervalId = setInterval(countdown, 1000);
    });

    $('#stop').click(function(){
        $(timer).hide();
        $(main).show();
        clearInterval(timerIntervalId);
        isWork = false;
        $(stop).hide();
    });

    function formatSeconds(seconds){
        return seconds < 10 ? ("0" + seconds) : seconds;
    }

    function initializeTimer(){
        isWork = !isWork;
        $(main).hide();
        $(timer).show();
        $(timer).empty();
        $(stop).show();
        if(isWork){
            nbtour ++;
            $(timer).append($("<h1>Travail</h1><h1 id=\"time\">" + time['workMinutes'] + ":" + formatSeconds(time['workSeconds']) + "</h1>"));
            $(timer).css('color', 'red');
            minutesLeft = new Number(time['workMinutes']);
            secondsLeft = new Number(time['workSeconds']);
        } else{
            if(nbtour >= 4){
                $(timer).append($("<h1>Pause</h1><h1 id=\"time\">" + time['breakMinutes'] + ":" + formatSeconds(time['breakSeconds'] * 3) + "</h1>"));
                $(timer).css('color', 'green');
                minutesLeft = new Number(time['breakMinutes'] * 3);
                secondsLeft = new Number(time['breakSeconds'] * 3);
                nbtour = 0;
            } else{
                $(timer).append($("<h1>Pause</h1><h1 id=\"time\">" + time['breakMinutes'] + ":" + formatSeconds(time['breakSeconds']) + "</h1>"));
                $(timer).css('color', 'green');
                minutesLeft = new Number(time['breakMinutes']);
                secondsLeft = new Number(time['breakSeconds']);
            }
        }
    }

    function countdown(){
        secondsLeft--;
        if(minutesLeft < 1 && secondsLeft < 1){
            var snd = isWork ? new Audio("/public/app/pomoboard/son/timer.wav") : new Audio("/public/app/pomoboard/son/buzzer.mp3");
            snd.play();
            initializeTimer();
        } else{
            if(secondsLeft < 0){
                secondsLeft = 59;
                minutesLeft--;
            }
        $('#time').text(minutesLeft + ":" + formatSeconds(secondsLeft));
        }
    };
});

</script>


