<!--#
This file is part of the digitalResource package.
(c) Maarch Alexis Ragot <alexis.ragot@maarch.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#-->
<div class="container-fluid">
    <div class="page-header">
        <h1>
            <i class="fa fa-dashboard"></i>
            <span>Widgets</span>
        </h1>
    </div>
</div>
<div class="container-fluid" id="containment-wrapper">
    <div class="row">
        <?merge preference.calculator.bool() ?>
        <div class="text-center">
            <div id="calculators" class="col-lg-4 col-md-6" style="height:430px;">
                <?hinclude pomoboard/view/widget/calculator.html ?>
            </div>
        </div>

        <?merge preference.weather.bool() ?>
        <div id="weather" class="col-lg-4 col-md-6" style="height:430px; text-align:center;">
            <?hinclude pomoboard/view/widget/weather.html ?>
        </div>

        <?merge preference.calendar.bool() ?>
        <div id="calendar" class="col-lg-4 col-md-6 well" style="height:430px;">
            <?hinclude pomoboard/view/widget/calendar.html ?>
        </div>

        <?merge preference.pomodoro.bool() ?>
        <div id="pomodoro" class="col-lg-4 col-md-6" style="height:430px;">
            <?hinclude pomoboard/view/widget/pomodoro.html ?>
        </div>

        <?merge preference.clock.bool() ?>
        <div id="clock" class="col-lg-6 col-md-6" style="height:430px;">
            <?hinclude pomoboard/view/widget/clock.html ?>
        </div>
    </div>
</div>
<script>

  $(function() {
	$( "#calculator-content" ).draggable({ containment: "#containment-wrapper"});
	$( "#calendar" ).draggable({ containment: "#containment-wrapper"});
	$( "#weather-content" ).draggable({ containment: "#containment-wrapper"});
	$( "#pomodoro" ).draggable({ containment: "#containment-wrapper"});
    $( "#clock-content" ).draggable({ containment: "#containment-wrapper"});
  });

</script>
